In [1660]:
import sqlparse
from sqlparse.sql import IdentifierList, Identifier
from sqlparse.tokens import Keyword, DML
from query_representation.utils import *

#from moz_sql_parser import parse
#from mo_sql_parsing import parse as parse
import os
import pandas as pd
from collections import defaultdict

from IPython.display import HTML
from IPython.display import display_html

In [1661]:
QDIR = "./queries/tpcds/all"
#QDIR = "queries/job/all_job/sqls/all_job"
#QDIR = "ceb-unique-sqls"
TPCDS_TABLES="./queries/tpcds/tpcds.sql"

In [1662]:

with open(TPCDS_TABLES) as f:
    tdata = f.readlines()
#print(tdata)

COLS_TO_TABLES = {}

for li, line in enumerate(tdata):
    #print(line)
    if "create table" in line:
        #print(line)
        vals = line.split(" ")
        #print("table: ", vals[2])
        table = vals[2].replace("\n", "")
        
        for i in range(1000):
            cline = tdata[li+i]
            cline = cline.lstrip()
            #print(cline)
                
            if "create table" in cline or "primary key" in cline:
                continue
            vals = cline.split(" ")
            col = vals[0]
            
            if not (")" in col or "(" in col or col == ""):
                if col in COLS_TO_TABLES:
                    print("?>>???")
                    print(col)
                assert col not in COLS_TO_TABLES   
                COLS_TO_TABLES[col] = table
            
            if ")" in cline and "," not in cline:
                break

In [1663]:
#print(COLS_TO_TABLES)

In [1664]:
#"catery" in COLS_TO_TABLES
for k in COLS_TO_TABLES:
    if "cat" in k:
        print(k)

ca_location_type
cd_education_status
i_category_id
i_category
p_channel_catalog
cp_catalog_page_sk
cp_catalog_page_id
cp_catalog_number
cp_catalog_page_number
cr_catalog_page_sk
cs_catalog_page_sk

In [1665]:
FNS = os.listdir(QDIR)

In [1666]:
print(len(FNS))
print(FNS[19])

106
95.sql

In [1667]:
sqls = []
for fn in FNS:
    if ".sql" not in fn:
        continue
    if "all" in fn:
        continue
    fn = os.path.join(QDIR, fn)
    with open(fn, "r") as f:
        sql = f.read()
    #if "like" in sql.lower():
        #print(sql)
    sql = sql.replace("IN", "in")
    sql = sql.replace("In", "in")
    sql = sql.replace("ILIKE", "like")
    sqls.append(sql)

In [1668]:
print(len(sqls))

106

In [1669]:
# for si, sql in enumerate(sqls):
#     if "like" in sql.lower():
#         print(si)
#     if "q91" in sql.lower():
#         print(si)

In [1670]:
#sql = sqls[40]
sql = sqls[78]
# sql = sql.replace("IN", "in")
# sql = sql.replace("In", "in")
# sql = sql.replace("ILIKE", "like")

In [1671]:
print(sql)

-- q54


with my_customers as (
 select distinct c_customer_sk
        , c_current_addr_sk
 from
        ( select cs_sold_date_sk sold_date_sk,
                 cs_bill_customer_sk customer_sk,
                 cs_item_sk item_sk
          from   catalog_sales
          union all
          select ws_sold_date_sk sold_date_sk,
                 ws_bill_customer_sk customer_sk,
                 ws_item_sk item_sk
          from   web_sales
         ) cs_or_ws_sales,
         item,  -- skan_memo_stash_54
         date_dim,
         customer
 where   sold_date_sk = d_date_sk
         and item_sk = i_item_sk
         and i_catery = 'Jewelry'
         and i_class = 'consignment'
         and c_customer_sk = cs_or_ws_sales.customer_sk
         and d_moy = 3
         and d_year = 1999
 )
 , my_revenue as (
 select c_customer_sk,
        sum(ss_ext_sales_price) as revenue
 from   my_customers,
        store_sales,
        customer_address,
        store,
        date_dim
 where  c_current_addr_sk = ca_address_sk
        and ca_county = s_county
        and ca_state = s_state
        and ss_sold_date_sk = d_date_sk
        and c_customer_sk = ss_customer_sk
        and d_month_seq between (select distinct d_month_seq+1
                                 from   date_dim where d_year = 1999 and d_moy = 3)
                           and  (select distinct d_month_seq+3
                                 from   date_dim where d_year = 1999 and d_moy = 3)
 group by c_customer_sk
 )
 , segments as
 (select cast((revenue/50) as int) as segment
  from   my_revenue
 )
  select top 100 segment, count(*) as num_customers, segment*50 as segment_base
 from segments
 group by segment
 order by segment, num_customers

In [1672]:
# def get_cols_from_tokens(tokens):
#     cols = []
#     for token in tokens:
#         if isinstance(token, sqlparse.sql.Identifier):
#             cols.append(str(token.value))
#     return cols

def get_function_cols(func_token):
    cols = []
    for param in func_token.get_parameters():
        if isinstance(param, sqlparse.sql.Identifier):
            cols.append(param.value)
    return cols

def parse_sql_preds(sql):
    def get_table_col(left):
        if "." in left:
            tablename = left[0:left.find(".")]
            col = left[left.find(".")+1:]
        else:
            tablename = "X"
            col = left
        return tablename, col
        
    def parse_where(wtokens):
        curwhere = {}
        for idx, token in enumerate(wtokens):
            if "where" in str(type(token)).lower():
                parse_where(token)
                continue
            
            if isinstance(token, sqlparse.sql.Parenthesis):
                assert hasattr(token, "tokens")
                #parse_recursive(token)
                parse_where(token)
                continue
            
            if "comparison" in str(type(token)).lower():
                #print(token.value)
                assert hasattr(token, "tokens")
                left = None
                op = None
                right = None
                valtypes = []
        
                for ctoken in token:
                    if ctoken.value.strip() == "":
                        continue
                    assert right is None
            
                    if left is None:
                        left = ctoken
                        valtypes.append(type(ctoken))
                        continue
                    if op is None:
                        op = ctoken
                        continue
                        
                    if right is None:
                        right = ctoken
                        continue
                    
                if isinstance(left, sqlparse.sql.Identifier):
                    #left = left.value
                    tablename, col = get_table_col(left.value)  
                elif isinstance(left, sqlparse.sql.Function):
                    tablename = "function"
                    allcols = get_function_cols(left)
                    #print("Num function columns: ", len(allcols))
                    col = ",".join(allcols)
                elif isinstance(left, sqlparse.sql.Parenthesis):
                    assert hasattr(left, "tokens")
                    parse_where(left)
                    tablename = "function"
                    col = "function"
                elif isinstance(left, sqlparse.sql.Operation):
                    tablename = "function"
                    col = "function"
                else:
                    # FIXME: handle these better
                    if isinstance(right, sqlparse.sql.Identifier):
                        tablename, col = get_table_col(right.value)
                        tmp1 = right
                        right = left
                        left = tmp1
                        # FIXME: need to change other stuff, like operator type too
                    else:
                        assert False
                    
                if "catery" in col:
                    col = col.replace("catery", "category")
                    
                if isinstance(right, sqlparse.sql.Identifier):
                    #print("Join?")
                    continue
                
                if isinstance(right, sqlparse.sql.Parenthesis):
                    assert hasattr(right, "tokens")
                    parse_recursive(right)
                
                # TODO: need a better way to find joins
                if not "token" in str(type(right)).lower():
                    if not "select" in right.value and \
                        op.value == "=" and \
                        "." in right.value:
                        # potential join
                        continue
                
                op = op.value.lower()
                right = right.value
                op = op.lower()
                
                allpreddata["left"].append(left.value)
                allpreddata["table"].append(tablename)   
                allpreddata["col"].append(col)
                allpreddata["op"].append(op)
                allpreddata["val"].append(str(right))
            
            #### TODO:
            if "between" in str(token):
                left = wtokens[idx-2]
                
                if isinstance(left, sqlparse.sql.Identifier):
                    tablename, col = get_table_col(left.value)
                    #print(tablename, col)
                elif isinstance(left, sqlparse.sql.Parenthesis):
                    tablename = "betweenX"
                    col = "func"
                else:
                    tablename = "betweenX"
                    col = "unk"
                    #assert False
                
                allpreddata["left"].append(left.value)
                allpreddata["table"].append(tablename)
                allpreddata["col"].append(col)
                allpreddata["op"].append("between")
                allpreddata["val"].append(-1)
                
#                 left = wtokens[idx+2]
#                 right = wtokens[idx+6]
# FIXME: general alternative
#                 for ci in range(-2,7,1):
#                     print(ci)
#                     print(wtokens[idx+ci])
            
    def parse_recursive(tokens):
        for idx, token in enumerate(tokens):
            if hasattr(token, "tokens"):
                parse_recursive(token)
            
            # original code
            if "where" in str(type(token)).lower():
                parse_where(token)
            
            if token.value.lower() in ["having", "group by"]:
                # TODO: parse
                index, token2 = tokens.token_next(idx)
        
    allpreddata = defaultdict(list)
    allpreds = []
    
    if sql.strip() == "":
        return pd.DataFrame(allpreddata)

    parsed = sqlparse.parse(sql)
    assert len(parsed) == 1
    parse_recursive(parsed[0])
    #return allpreds
    df = pd.DataFrame(allpreddata)
    return df

In [1673]:
#print(sql)

In [1674]:
preds = parse_sql_preds(sql)
preds

           left table          col       op            val
0      i_catery     X   i_category        =      'Jewelry'
1       i_class     X      i_class        =  'consignment'
2         d_moy     X        d_moy        =              3
3        d_year     X       d_year        =           1999
4        d_year     X       d_year        =           1999
5         d_moy     X        d_moy        =              3
6        d_year     X       d_year        =           1999
7         d_moy     X        d_moy        =              3
8   d_month_seq     X  d_month_seq  between             -1
9        d_year     X       d_year        =           1999
10        d_moy     X        d_moy        =              3
11       d_year     X       d_year        =           1999
12        d_moy     X        d_moy        =              3

In [1675]:
# #print(preds)
# p0 = preds[0]

# mergedd = {}
# for p in preds:
#     for table,colvals in p.items():
#         if table not in mergedd:
#             mergedd[table] = {}
#         for col,opvals in colvals.items():
#             if col not in mergedd[table]:
#                 mergedd[table][col] = {}
#             for op,vals in opvals.items():
#                 if op not in mergedd[table][col]:
#                     mergedd[table][col][op] = set()
#                 for cval in vals:
#                     mergedd[table][col][op].add(cval)
                

# #print(mergedd)
# for table,vals in mergedd.items():
#     print(table)
#     print(vals)
#     print("***********")

# Q87 very hard to parse;
### TODO: maybe queries w/ multiple subqueries, we just try to get each select block and parse them individually

In [1676]:
sql4 = """-- q87


select count(*) 
from (select distinct c_last_name, c_first_name, d_date
       from store_sales, date_dim, customer  -- skan_memo_stash_87
       where store_sales.ss_sold_date_sk = date_dim.d_date_sk
         and store_sales.ss_customer_sk = customer.c_customer_sk
         and d_month_seq between 1212 and 1212+11)
       except
      (select distinct c_last_name, c_first_name, d_date
       from catalog_sales, date_dim, customer
       where catalog_sales.cs_sold_date_sk = date_dim.d_date_sk
         and catalog_sales.cs_bill_customer_sk = customer.c_customer_sk
         and d_month_seq between 1212 and 1212+11)
       except
      (select distinct c_last_name, c_first_name, d_date
       from web_sales, date_dim, customer
       where web_sales.ws_sold_date_sk = date_dim.d_date_sk
         and web_sales.ws_bill_customer_sk = customer.c_customer_sk
         and d_month_seq between 1212 and 1212+11)
cool_cust

"""

# sql4 = """-- q87


# select count(*) 
# from ((select distinct c_last_name, c_first_name, d_date
#        from store_sales, date_dim, customer  -- skan_memo_stash_87
#        where store_sales.ss_sold_date_sk = date_dim.d_date_sk
#          and store_sales.ss_customer_sk = customer.c_customer_sk
#          and d_month_seq between 1212 and 1212+11)
#        except
#       (select distinct c_last_name, c_first_name, d_date
#        from catalog_sales, date_dim, customer
#        where catalog_sales.cs_sold_date_sk = date_dim.d_date_sk
#          and catalog_sales.cs_bill_customer_sk = customer.c_customer_sk
#          and d_month_seq between 1212 and 1212+11))
# cool_cust

# """

# sql4 = """-- q87


# select count(*) 
# from (select distinct c_last_name, c_first_name, d_date
#        from store_sales, date_dim, customer  -- skan_memo_stash_87
#        where store_sales.ss_sold_date_sk = date_dim.d_date_sk
#          and store_sales.ss_customer_sk = customer.c_customer_sk
#          and d_month_seq between 1212 and 1212+11)
# cool_cust
# """
parse_sql_preds(sql4)

          left table          col       op  val
0  d_month_seq     X  d_month_seq  between   -1
1  d_month_seq     X  d_month_seq  between   -1
2  d_month_seq     X  d_month_seq  between   -1

# Fix for Q40, change order of from tables

In [1677]:

sql3 = """select top 100 
   w_state
  ,i_item_id
  ,sum(case when (cast(d_date as date) < cast ('1998-04-08' as date)) 
        then cs_sales_price - coalesce(cr_refunded_cash,0) else 0 end) as sales_before
  ,sum(case when (cast(d_date as date) >= cast ('1998-04-08' as date)) 
        then cs_sales_price - coalesce(cr_refunded_cash,0) else 0 end) as sales_after
 from
   warehouse  -- skan_memo_stash_40
  ,item
  ,date_dim
  ,catalog_sales left outer join catalog_returns on
       (cs_order_number = cr_order_number 
        and cs_item_sk = cr_item_sk)

 where
     i_current_price between 0.99 and 1.49
 and i_item_sk          = cs_item_sk
 and cs_warehouse_sk    = w_warehouse_sk 
 and cs_sold_date_sk    = d_date_sk
 and d_date >= dateadd(dd, -30, '1998-04-08')
 and d_date <= dateadd(dd, 30, '1998-04-08') 
 group by
    w_state,i_item_id
 order by w_state,i_item_id"""
parse_sql_preds(sql3)

,left,table,col,op,val
0,i_current_price,X,i_current_price,between,-1
1,d_date,X,d_date,>=,"dateadd(dd, -30, '1998-04-08')"
2,d_date,X,d_date,<=,"dateadd(dd, 30, '1998-04-08')"

# replace intersect by union seems to work for now;

In [1678]:
sql2 = """select top 100 count(*) from (
    select distinct c_last_name, c_first_name, d_date
    from store_sales, date_dim, customer -- skan_memo_stash_38
          where store_sales.ss_sold_date_sk = date_dim.d_date_sk
      and store_sales.ss_customer_sk = customer.c_customer_sk
      and d_month_seq between 1212 and 1212 + 11) test"""
sql2 = """select top 100 count(*) from (
    select distinct c_last_name, c_first_name, d_date
    from store_sales, date_dim, customer -- skan_memo_stash_38
          where store_sales.ss_sold_date_sk = date_dim.d_date_sk
      and store_sales.ss_customer_sk = customer.c_customer_sk
      and d_month_seq between 1212 and 1212 + 11
  union
    select distinct c_last_name, c_first_name, d_date
    from catalog_sales, date_dim, customer
          where catalog_sales.cs_sold_date_sk = date_dim.d_date_sk
      and catalog_sales.cs_bill_customer_sk = customer.c_customer_sk
      and d_month_seq between 1212 and 1212 + 11) tmp"""
parse_sql_preds(sql2)

          left table          col       op  val
0  d_month_seq     X  d_month_seq  between   -1
1  d_month_seq     X  d_month_seq  between   -1

In [1679]:
# def parse_cont_vals(ops, vals, col_names):
    
#     # values to return: one for each column
#     ## type: range, lt, gt
#     ## dtype:
#     ## range: None, or actual value
#     ret = {}
#     cont_idxs = []
    
#     cur_comb_op = ""
#     for oi, op in enumerate(ops):
#         if op == "And" or op == "Or":
#             cur_comb_op = op
        
#         if ">" in op or "<" in op:
#             cont_idxs.append(oi)
#             col = col_names[oi]
            
#             col = col_names[oi]
# #             val = vals[oi]
# #             if isinstance(val, list):
# #                 if len(val) == 0:
# #                     continue
# #                 assert len(val) == 1
# #                 val = val[0]
            
# #             val = val.replace("@", "")
# #             val = val.replace("\"", "")
# #             val = val.replace("\'", "")
# #             dtype, pval = get_cont_dtype(val)
            
#             if col not in ret:
#                 ret[col] = {}
#             ret[col]["dtype"] = dtype
#             if pval is not None and ">" in op:
#                 ret[col]["gt"] = pval
#             elif pval is not None and "<" in op:
#                 ret[col]["lt"] = pval
            
#             ret[col]["comb_op"] = cur_comb_op
    
#     for col in ret:
#         if "comb_op" in ret[col] and ret[col]["comb_op"] == "Or":
#             ctype = "discont"
        
#         elif "lt" in ret[col] and "gt" in ret[col]:
#             ctype = "range"
#             #assert ret[col]["comb_op"] == "And"
#             if "comb_op" not in ret[col]:
#                 print(vals)
#                 print(ops)

#             elif ret[col]["comb_op"] != "And":
#                 print(vals)
#                 print(ops)
            
#         elif "lt" in ret[col]:
#             ctype = "lt"
#         elif "gt" in ret[col]:
#             ctype = "gt"
#         else:
#             ctype = "other"
        
#         if "lt" in ret[col] and "gt" in ret[col]:
#             crange = ret[col]["lt"] - ret[col]["gt"]
#             if crange < 0:
#                 assert ret[col]["comb_op"] == "Or"
#             else:
#                 ret[col]["range"] = crange
        
#         ret[col]["cont_type"] = ctype

#     return ret

def is_num(val):
    try:
        float(val)
        return True
    except:
        return False
    
def is_a_date(val):
    
    val = val.replace("'", "")
    if "date" in val:
        return True
    
    elif is_num(val):
        num = float(val)
        if num > 1900 and num < 2010:
            return True
        
    elif "+" in val:
        cvals = val[0:val.find("+")]
        if is_num(cvals):
            num = float(cvals)
            if num > 1900 and num < 2010:
                return True
            
    elif "-" in val:
#         if val.count("-") == 2:
#             print(val)
        cvals = val[0:val.find("-")]
        if is_num(cvals):
            num = float(cvals)
            if num > 1900 and num < 2010:
                return True
    
    return False


import enchant
enchantD = enchant.Dict("en_US")
import re
#import nltk
#nltk.download('words')
#from nltk.corpus import words as nltkwords

URLPAT = "((http|https)\:\/\/)?[a-zA-Z0-9\.\/\?\:@\-_=#]+\.([a-zA-Z]){2,6}([a-zA-Z0-9\.\&\/\?\:@\-_=#])*"
def get_like_type(op, vals):
    likekind = "-1"
    likedtype = "-1"
    
    if "like" not in op.lower():
        return likedtype, likekind
    
    vals = vals.replace("'", "")
    if vals.count("%") == 0:
        likekind = "no%"
    elif vals.count("%") == 2:
        likekind = "contains"
    elif vals.count("%") == 1:
        if vals[0] == "%":
            likekind = "ends"
        elif vals[-1] == "%":
            likekind = "starts"
        else:
            assert False
    else:
        nlikes = vals.count("%")
        likekind = str(nlikes) + "%"
    
    opval = vals.replace("%", "")
    
    if is_num(opval):
        likedtype = "num"
    elif len(opval) <= 2:
        likedtype = "short"
    elif opval[0] == ".":
        likedtype = "extension"
    elif re.match(URLPAT, opval) is not None:
        if ("cosmos" in opval or "adl" in opval) and "/" in opval:
            likedtype = "path"
        else:
            likedtype = "url"
            
    elif opval.count("/") >= 2 or opval.count("\\") >= 2:
        likedtype = "path"
        
    elif enchantD.check(opval):
        likedtype = "word"

    elif opval.count("-") >= 2 or \
            opval.count(":") >= 2:
        likedtype = "serial"
    elif "-" in opval or "_" in opval or " " in opval or "," in opval or ":" in opval:
        if "-" in opval:       
            allvals = opval.split("-")
        elif "_" in opval:
            allvals = opval.split("_")
        elif " " in opval:
            allvals = opval.split(" ")
        elif "," in opval:
            allvals = opval.split(",")
        elif ":" in opval:
            allvals = opval.split(":")
            
        validwords = 0
        for v1 in allvals:
            if v1 == "":
                continue
            if enchantD.check(v1):
                validwords += 1
        if validwords >= 2:
            likedtype = "words"
    elif "0x" in opval:
        likedtype = "hex"
    else:
        validwords = 0
        start = 0
        prevstart = 0
        for oi,_ in enumerate(opval):
            cword = opval[start:oi+1]
            pword = opval[prevstart:oi+1]
            if enchantD.check(cword) and len(cword) >= 3:
                validwords += 1
                prevstart = start
                start = oi+1
            
            # extend previous word
            elif enchantD.check(pword) and len(pword) >= 3:
                start = oi+1
                
        if validwords >= 2:
            likedtype = "words"
        else:
            likedtype = "unknown"
    
    return likedtype, likekind

def get_discrete_type(op, vals):
    dtype = "-1"
    dkind = "-1"
    #op = op.lower()
    assert op != ""
    if op in ["=", "!=", "<>", "in"]:
        if op == "=":
            dkind = "eq"
        elif op in ["!=", "<>"]:
            print("neq!!")
            dkind = "neq"
        else:
            dkind = "in"
            
        if "select" in vals:
            dtype = "sql"
        else: 
            if "(" in vals:
                vals = vals.replace("(", "")
                vals = vals.replace(")", "")
                vals = vals.split(",")
                vals = vals[0]
            
            if is_a_date(vals):
                dtype = "date"
            elif is_num(vals):
                dtype = "num"
            else:
                dtype = "string"
                
    
        
    return dtype, dkind

In [1680]:
from collections import defaultdict

allinpdata = defaultdict(list)
allpreds = []

for si, sql in enumerate(sqls):
    # empty sqls
    if si in [78, 85]:
        continue
    print("Query: ", si)
    alldfdata = defaultdict(list)
    
    numwheres = sql.lower().count("where")
    preds = parse_sql_preds(sql)
    olen = len(preds)
    preds = preds.drop_duplicates()
    nlen = len(preds)
    
    preds["qid"] = si
    
    curcols = []
    curops = []
    for idx, row in preds.iterrows():
        curcols.append(row["col"])
        curops.append(row["op"])
        
        if row["col"] in COLS_TO_TABLES:
            tab = COLS_TO_TABLES[row["col"]]
            col = row["col"]
        elif row["table"] != "X":
            tab = row["table"]
            col = row["col"]
        else:
            tab = row["table"]
        
        op = row["op"]
        alldfdata["table"].append(tab)
        alldfdata["col"].append(col)
        dtype,dkind = get_discrete_type(op, row["val"])
        alldfdata["dtype"].append(dtype)
        alldfdata["dkind"].append(dkind)
        
        likedtype,likekind = get_like_type(op, row["val"])
        alldfdata["likedtype"].append(likedtype)
        alldfdata["likekind"].append(likekind)
        
        if op in ["=", "!="]:
            alldfdata["discrete_ops"].append(1)
            alldfdata["in_ops"].append(0)
            allinpdata["col"].append(row["col"])
            allinpdata["val"].append(row["val"])
            
        elif op == "in":
            alldfdata["discrete_ops"].append(1)
            alldfdata["in_ops"].append(1)
            if "select" in row["val"]:
                pass
            else:
                cvals = row["val"]
                cvals = cvals.replace("(", "")
                cvals = cvals.replace(")", "")
                cvals = cvals.split(",")
                for cval in cvals:
                    allinpdata["col"].append(row["col"])
                    allinpdata["val"].append(cval)
        else:
            alldfdata["discrete_ops"].append(0)
            alldfdata["in_ops"].append(0)

        if op in [">", "<", ">=", "<=", "between"]:
            alldfdata["cont_ops"].append(1)
        else:
            alldfdata["cont_ops"].append(0)

        if op == "like":
            alldfdata["like_ops"].append(1)
        else:
            alldfdata["like_ops"].append(0)
    
    if len(preds) == 0:
        continue
    
    tmpdf = pd.DataFrame(alldfdata)
    assert len(tmpdf) == len(preds)
#     preds["like_ops"] = tmpdf["like_ops"]
#     preds["cont_ops"] = tmpdf["cont_ops"]
#     preds["discrete_ops"] = tmpdf["discrete_ops"]
#     preds["in_ops"] = tmpdf["in_ops"]
#     preds["dtype"] = tmpdf["dtype"]
#     preds["dkind"] = tmpdf["dkind"]
#     preds["likekind"] = tmpdf["likekind"]
    for k in tmpdf.keys():
        preds[k] = tmpdf[k]
        
    allpreds.append(preds)

Query:  0
Query:  1
Query:  2
Query:  3
neq!!
Query:  4
Query:  5
Query:  6
Query:  7
Query:  8
Query:  9
Query:  10
Query:  11
Query:  12
Query:  13
Query:  14
Query:  15
Query:  16
Query:  17
Query:  18
Query:  19
Query:  20
Query:  21
Query:  22
Query:  23
Query:  24
Query:  25
Query:  26
Query:  27
Query:  28
Query:  29
Query:  30
Query:  31
Query:  32
Query:  33
Query:  34
Query:  35
Query:  36
Query:  37
Query:  38
Query:  39
Query:  40
Query:  41
Query:  42
Query:  43
Query:  44
Query:  45
Query:  46
Query:  47
Query:  48
Query:  49
Query:  50
Query:  51
Query:  52
Query:  53
Query:  54
Query:  55
Query:  56
Query:  57
Query:  58
Query:  59
Query:  60
Query:  61
Query:  62
Query:  63
Query:  64
Query:  65
Query:  66
Query:  67
Query:  68
Query:  69
Query:  70
Query:  71
Query:  72
Query:  73
Query:  74
Query:  75
Query:  76
Query:  77
Query:  79
Query:  80
Query:  81
Query:  82
Query:  83
Query:  84
Query:  86
Query:  87
Query:  88
Query:  89
Query:  90
Query:  91
Query:  92
Query:  93
Query:  94
Query:  95
Query:  96
Query:  97
Query:  98
Query:  99
Query:  100
Query:  101
Query:  102
Query:  103
Query:  104
Query:  105

In [1681]:
# for k,v in alldfdata.items():
#     print(k, len(v))

In [1682]:
df = pd.concat(allpreds)

In [1683]:
df.head(6)

,left,table,col,op,val,qid,dtype,dkind,likedtype,likekind,discrete_ops,in_ops,cont_ops,like_ops
0,i_catery,item,i_category,in,"('Jewelry', 'Sports', 'Books')",0,string,in,-1,-1,1.0,1.0,0.0,0.0
1,d_date,date_dim,d_date,>=,'2001-01-12',0,-1,-1,-1,-1,0.0,0.0,1.0,0.0
2,d_date,date_dim,d_date,<=,"dateadd(dd, 30, '2001-01-12')",0,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,d_date,date_dim,d_date,>=,'1998-03-18',1,-1,-1,-1,-1,0.0,0.0,1.0,0.0
1,d_date,date_dim,d_date,<=,"dateadd(dd, 90, '1998-03-18')",1,-1,-1,-1,-1,0.0,0.0,1.0,0.0
2,i_manufact_id,item,i_manufact_id,=,269,1,num,eq,-1,-1,1.0,0.0,0.0,0.0

In [1684]:
print(df.keys())
print(len(df))

Index(['left', 'table', 'col', 'op', 'val', 'qid', 'dtype', 'dkind',
       'likedtype', 'likekind', 'discrete_ops', 'in_ops', 'cont_ops',
       'like_ops'],
      dtype='object')
506

In [1685]:
#df.to_csv("ceb_queries_df.csv", index=False)
df.to_csv("tpcds_queries_df.csv", index=False)

In [1645]:
# df2 = pd.read_csv("job_queries_df.csv")
# df2.head(5)

In [1646]:
HTML(df[["like_ops", "discrete_ops", "cont_ops", "in_ops"]].\
     describe(percentiles=[0.9,0.99]).reset_index().to_html(index=False))

In [1647]:
#print(set(df["dkind"]))

In [1686]:
discdf = df[df.discrete_ops == 1]
discdf.groupby(["dkind"]).count()["discrete_ops"].reset_index().sort_values(by="discrete_ops")

  dkind  discrete_ops
1    in            68
0    eq           240

In [1687]:
discdf.groupby(["dtype"]).count()["discrete_ops"].reset_index().sort_values(by="discrete_ops", ascending=False)

    dtype  discrete_ops
3  string           141
0    date            82
1     num            71
2     sql            14

In [1688]:
ldf = df[df.like_ops == 1]
ldf.groupby("likedtype").count()["discrete_ops"].reset_index().sort_values(by="discrete_ops", ascending=False)

  likedtype  discrete_ops
0        -1             1

In [1651]:
ldf.groupby("likekind").count()["discrete_ops"].reset_index().sort_values(by="discrete_ops", ascending=False)

   likekind  discrete_ops
0  contains          1778

In [1652]:
inpdata = pd.DataFrame(allinpdata)

In [1653]:
print(len(inpdata))
inpdata = inpdata.drop_duplicates()
inpdata = inpdata[inpdata["col"] != "function"]
print(len(inpdata))
print(len(set(inpdata["col"])))
print(set(inpdata["col"]))

66856
6719
13
{'title', 'info', 'name_pcode_nf', 'id', 'surname_pcode', 'note', 'kind', 'keyword', 'name_pcode_cf', 'name', 'role', 'gender', 'country_code'}

# unique values seen in each column

In [1654]:
inpdata.groupby("col").count().reset_index()["val"].describe(percentiles=[0.75,0.9,0.99])

count      13.000000
mean      516.846154
std       903.140525
min         2.000000
50%        68.000000
75%       534.000000
90%      1355.200000
99%      2851.200000
max      3054.000000
Name: val, dtype: float64

In [1655]:
dff = df[df["col"] == "function"]
dff

Empty DataFrame
Columns: [left, table, col, op, val, qid, dtype, dkind, likedtype, likekind, discrete_ops, in_ops, cont_ops, like_ops]
Index: []

In [1656]:
#pdf = pd.concat(allpreds)
pdf = df

In [1657]:
pdf.head(5)

,left,table,col,op,val,qid,dtype,dkind,likedtype,likekind,discrete_ops,in_ops,cont_ops,like_ops
0,it1.id,it1,id,=,'8',0,string,eq,-1,-1,1.0,0.0,0.0,0.0
1,it2.id,it2,id,=,'4',0,string,eq,-1,-1,1.0,0.0,0.0,0.0
2,mi1.info,mi1,info,in,"('Belgium','Czech Republic','France','Germany'...",0,string,in,-1,-1,1.0,1.0,0.0,0.0
3,mi2.info,mi2,info,in,"('Czech','Dutch','English','German','Hebrew','...",0,string,in,-1,-1,1.0,1.0,0.0,0.0
4,kt.kind,kt,kind,in,('tv movie'),0,string,in,-1,-1,1.0,1.0,0.0,0.0

In [1658]:
#pdf = pdf[pdf.col.isin(COLS_TO_TABLES)]

# TODO: need equivalent version for SCOPE;
## TODO: more important is #columns per input in a query; for this we need column --> table mapping

In [1659]:
pdf.groupby(["col", "qid"])["op"].nunique().reset_index().sort_values(by="op", ascending=False)["op"].describe(
                                    percentiles=[0.75,0.90,0.99])

count    17399.000000
mean         1.193057
std          0.424865
min          1.000000
50%          1.000000
75%          1.000000
90%          2.000000
99%          3.000000
max          3.000000
Name: op, dtype: float64

In [1565]:
for col in set(pdf["col"]):
    if not col in COLS_TO_TABLES:
        print(col)

link
info
episode_nr
production_year
note
kind
keyword
name_pcode_cf
gender
name
role
title
country_code

In [1566]:
pdf2 = pdf[pdf.table != "X"]
print(set(pdf2["table"]))
print(len(set(pdf2["table"])))

{'rt', 't', 'kt2', 'it2', 'it1', 'lt', 'n', 'mc', 'cn', 'cn1', 'an', 'cct1', 'mi_idx', 'it3', 'mi_idx2', 'chn', 'k', 'pi', 'ct', 'kt1', 'n1', 't2', 'it', 'cct2', 'kt', 'ci', 'mi'}
27

In [1567]:
pdf2.groupby(["table", "qid"])["col"].nunique().reset_index().sort_values(by="col", ascending=False)["col"].describe(
                                    percentiles=[0.75,0.90,0.99])

count    594.000000
mean       1.065657
std        0.247890
min        1.000000
50%        1.000000
75%        1.000000
90%        1.000000
99%        2.000000
max        2.000000
Name: col, dtype: float64

In [1557]:
pd.set_option('display.max_rows', 500)
pdf2.head(100)

Empty DataFrame
Columns: [left, table, col, op, val, qid, dtype, dkind, likedtype, likekind, discrete_ops, in_ops, cont_ops, like_ops]
Index: []

In [1558]:
pdf2.groupby(["table", "qid"])["col"].nunique().reset_index().sort_values(by="col", ascending=False)

Empty DataFrame
Columns: [table, qid, col]
Index: []

# TODO:

#### More columns being filtered (tails) on BUT within a column ---- fewer categorical values being hit
#### discrete_type: num vs string
#### cont dtypes: range vs leq vs geq

In [1559]:
pdf.groupby("op").count()["qid"]

Series([], Name: qid, dtype: int64)