In [2]:
import sqlparse
from sqlparse.sql import IdentifierList, Identifier
from sqlparse.tokens import Keyword, DML
#from query_representation.utils import *

#from moz_sql_parser import parse
#from mo_sql_parsing import parse as parse
import os
import pandas as pd
from collections import defaultdict

from IPython.display import HTML
from IPython.display import display_html

In [3]:
#QDIR = "./queries/tpcds/all"
#QDIR = "queries/job/all_job/sqls/all_job"
#QDIR = "ceb-unique-sqls"

#QDIR = "../scraping-queries/sqls"
QDIR = "../data/job/all_job/sqls"

TPCDS_TABLES="./queries/tpcds/tpcds.sql"
COLS_TO_TABLES = {}

In [4]:

if "tpcds" in QDIR:
    with open(TPCDS_TABLES) as f:
        tdata = f.readlines()

    for li, line in enumerate(tdata):
        #print(line)
        if "create table" in line:
            #print(line)
            vals = line.split(" ")
            #print("table: ", vals[2])
            table = vals[2].replace("\n", "")

            for i in range(1000):
                cline = tdata[li+i]
                cline = cline.lstrip()
                #print(cline)

                if "create table" in cline or "primary key" in cline:
                    continue
                vals = cline.split(" ")
                col = vals[0]

                if not (")" in col or "(" in col or col == ""):
                    if col in COLS_TO_TABLES:
                        print("?>>???")
                        print(col)
                    assert col not in COLS_TO_TABLES   
                    COLS_TO_TABLES[col] = table

                if ")" in cline and "," not in cline:
                    break

In [5]:
#print(COLS_TO_TABLES)

In [6]:
#"catery" in COLS_TO_TABLES
for k in COLS_TO_TABLES:
    if "cat" in k:
        print(k)

In [7]:
FNS = os.listdir(QDIR)

In [8]:
print(len(FNS))
print(FNS[19])

113
6a.sql

In [16]:
sqls = []
for fn in FNS:
    if ".sql" not in fn:
        continue
    if "all" in fn:
        continue
    fn = os.path.join(QDIR, fn)
    with open(fn, "r") as f:
        sql = f.read()
    #if "like" in sql.lower():
        #print(sql)
    sql = sql.replace("IN", "in")
    sql = sql.replace("In", "in")
    sql = sql.replace("ILIKE", "like")
    sql = sql.replace("LIKE", "like")
    sqls.append(sql)

In [17]:
# import json
# with open("../db1_queries.json", "r") as f:
#     data = json.loads(f.read())
# sqls = [data[k]["sql"] for k in data]

In [18]:
for i, sql in enumerate(sqls):
    sql = sql.replace("IN", "in")
    sql = sql.replace("In", "in")
    sql = sql.replace("ILIKE", "like")
    sql = sql.replace("LIKE", "like")
    sqls[i] = sql

In [19]:
print(len(sqls))

171352

In [20]:
# for si, sql in enumerate(sqls):
#     if "like" in sql.lower():
#         print(si)
#     if "q91" in sql.lower():
#         print(si)

In [21]:
#sql = sqls[40]
sql = sqls[78]
# sql = sql.replace("IN", "in")
# sql = sql.replace("In", "in")
# sql = sql.replace("ILIKE", "like")

In [22]:
print(sql)

-- Enter Query Title
-- Enter Query Description

sp_help badges

In [23]:
# def get_cols_from_tokens(tokens):
#     cols = []
#     for token in tokens:
#         if isinstance(token, sqlparse.sql.Identifier):
#             cols.append(str(token.value))
#     return cols

def get_function_cols(func_token):
    cols = []
    for param in func_token.get_parameters():
        if isinstance(param, sqlparse.sql.Identifier):
            cols.append(param.value)
    return cols

def parse_sql_preds(sql):
    def get_table_col(left):
        if "." in left:
            tablename = left[0:left.find(".")]
            col = left[left.find(".")+1:]
        else:
            tablename = "X"
            col = left
        return tablename, col
        
    def parse_where(wtokens):
        curwhere = {}
        for idx, token in enumerate(wtokens):
            if "where" in str(type(token)).lower():
                parse_where(token)
                continue
            
            if isinstance(token, sqlparse.sql.Parenthesis):
                assert hasattr(token, "tokens")
                #parse_recursive(token)
                parse_where(token)
                continue
            
            if "comparison" in str(type(token)).lower():
                #print(token.value)
                assert hasattr(token, "tokens")
                left = None
                op = None
                right = None
                valtypes = []
        
                for ctoken in token:
                    if ctoken.value.strip() == "":
                        continue
                    assert right is None
            
                    if left is None:
                        left = ctoken
                        valtypes.append(type(ctoken))
                        continue
                    if op is None:
                        op = ctoken
                        continue
                        
                    if right is None:
                        right = ctoken
                        continue
                    
                if isinstance(left, sqlparse.sql.Identifier):
                    #left = left.value
                    tablename, col = get_table_col(left.value)  
                elif isinstance(left, sqlparse.sql.Function):
                    tablename = "function"
                    allcols = get_function_cols(left)
                    #print("Num function columns: ", len(allcols))
                    col = ",".join(allcols)
                elif isinstance(left, sqlparse.sql.Parenthesis):
                    assert hasattr(left, "tokens")
                    parse_where(left)
                    tablename = "function"
                    col = "function"
                elif isinstance(left, sqlparse.sql.Operation):
                    tablename = "function"
                    col = "function"
                else:
                    # FIXME: handle these better
                    if isinstance(right, sqlparse.sql.Identifier):
                        tablename, col = get_table_col(right.value)
                        tmp1 = right
                        right = left
                        left = tmp1
                        # FIXME: need to change other stuff, like operator type too
                    else:
                        assert False
                    
                if "catery" in col:
                    col = col.replace("catery", "category")
                    
                if isinstance(right, sqlparse.sql.Identifier):
                    #print("Join?")
                    continue
                
                if isinstance(right, sqlparse.sql.Parenthesis):
                    assert hasattr(right, "tokens")
                    parse_recursive(right)
                
                # TODO: need a better way to find joins
                if not "token" in str(type(right)).lower():
                    if not "select" in right.value and \
                        op.value == "=" and \
                        "." in right.value:
                        # potential join
                        continue
                
                op = op.value.lower()
                right = right.value
                op = op.lower()
                
                allpreddata["left"].append(left.value)
                allpreddata["table"].append(tablename)   
                allpreddata["col"].append(col)
                allpreddata["op"].append(op)
                allpreddata["val"].append(str(right))
            
            #### TODO:
            if "between" in str(token):
                left = wtokens[idx-2]
                
                if isinstance(left, sqlparse.sql.Identifier):
                    tablename, col = get_table_col(left.value)
                    #print(tablename, col)
                elif isinstance(left, sqlparse.sql.Parenthesis):
                    tablename = "betweenX"
                    col = "func"
                else:
                    tablename = "betweenX"
                    col = "unk"
                    #assert False
                
                allpreddata["left"].append(left.value)
                allpreddata["table"].append(tablename)
                allpreddata["col"].append(col)
                allpreddata["op"].append("between")
                allpreddata["val"].append(-1)
                
#                 left = wtokens[idx+2]
#                 right = wtokens[idx+6]
# FIXME: general alternative
#                 for ci in range(-2,7,1):
#                     print(ci)
#                     print(wtokens[idx+ci])
            
    def parse_recursive(tokens):
        for idx, token in enumerate(tokens):
            if hasattr(token, "tokens"):
                parse_recursive(token)
            
            # original code
            if "where" in str(type(token)).lower():
                parse_where(token)
            
            if token.value.lower() in ["having", "group by"]:
                # TODO: parse
                index, token2 = tokens.token_next(idx)
        
    allpreddata = defaultdict(list)
    allpreds = []
    
    if sql.strip() == "":
        return pd.DataFrame(allpreddata)

    parsed = sqlparse.parse(sql)
    assert len(parsed) == 1
    parse_recursive(parsed[0])
    #return allpreds
    df = pd.DataFrame(allpreddata)
    return df

In [24]:
#print(sql)

In [25]:
preds = parse_sql_preds(sql)
preds

Empty DataFrame
Columns: []
Index: []

In [26]:
# #print(preds)
# p0 = preds[0]

# mergedd = {}
# for p in preds:
#     for table,colvals in p.items():
#         if table not in mergedd:
#             mergedd[table] = {}
#         for col,opvals in colvals.items():
#             if col not in mergedd[table]:
#                 mergedd[table][col] = {}
#             for op,vals in opvals.items():
#                 if op not in mergedd[table][col]:
#                     mergedd[table][col][op] = set()
#                 for cval in vals:
#                     mergedd[table][col][op].add(cval)
                

# #print(mergedd)
# for table,vals in mergedd.items():
#     print(table)
#     print(vals)
#     print("***********")

# Q87 very hard to parse;
### TODO: maybe queries w/ multiple subqueries, we just try to get each select block and parse them individually

In [27]:
# sql4 = """-- q87


# select count(*) 
# from (select distinct c_last_name, c_first_name, d_date
#        from store_sales, date_dim, customer  -- skan_memo_stash_87
#        where store_sales.ss_sold_date_sk = date_dim.d_date_sk
#          and store_sales.ss_customer_sk = customer.c_customer_sk
#          and d_month_seq between 1212 and 1212+11)
#        except
#       (select distinct c_last_name, c_first_name, d_date
#        from catalog_sales, date_dim, customer
#        where catalog_sales.cs_sold_date_sk = date_dim.d_date_sk
#          and catalog_sales.cs_bill_customer_sk = customer.c_customer_sk
#          and d_month_seq between 1212 and 1212+11)
#        except
#       (select distinct c_last_name, c_first_name, d_date
#        from web_sales, date_dim, customer
#        where web_sales.ws_sold_date_sk = date_dim.d_date_sk
#          and web_sales.ws_bill_customer_sk = customer.c_customer_sk
#          and d_month_seq between 1212 and 1212+11)
# cool_cust

# """

# # sql4 = """-- q87


# # select count(*) 
# # from ((select distinct c_last_name, c_first_name, d_date
# #        from store_sales, date_dim, customer  -- skan_memo_stash_87
# #        where store_sales.ss_sold_date_sk = date_dim.d_date_sk
# #          and store_sales.ss_customer_sk = customer.c_customer_sk
# #          and d_month_seq between 1212 and 1212+11)
# #        except
# #       (select distinct c_last_name, c_first_name, d_date
# #        from catalog_sales, date_dim, customer
# #        where catalog_sales.cs_sold_date_sk = date_dim.d_date_sk
# #          and catalog_sales.cs_bill_customer_sk = customer.c_customer_sk
# #          and d_month_seq between 1212 and 1212+11))
# # cool_cust

# # """

# # sql4 = """-- q87


# # select count(*) 
# # from (select distinct c_last_name, c_first_name, d_date
# #        from store_sales, date_dim, customer  -- skan_memo_stash_87
# #        where store_sales.ss_sold_date_sk = date_dim.d_date_sk
# #          and store_sales.ss_customer_sk = customer.c_customer_sk
# #          and d_month_seq between 1212 and 1212+11)
# # cool_cust
# # """
# parse_sql_preds(sql4)

# Fix for Q40, change order of from tables

In [28]:

sql3 = """select top 100 
   w_state
  ,i_item_id
  ,sum(case when (cast(d_date as date) < cast ('1998-04-08' as date)) 
        then cs_sales_price - coalesce(cr_refunded_cash,0) else 0 end) as sales_before
  ,sum(case when (cast(d_date as date) >= cast ('1998-04-08' as date)) 
        then cs_sales_price - coalesce(cr_refunded_cash,0) else 0 end) as sales_after
 from
   warehouse  -- skan_memo_stash_40
  ,item
  ,date_dim
  ,catalog_sales left outer join catalog_returns on
       (cs_order_number = cr_order_number 
        and cs_item_sk = cr_item_sk)

 where
     i_current_price between 0.99 and 1.49
 and i_item_sk          = cs_item_sk
 and cs_warehouse_sk    = w_warehouse_sk 
 and cs_sold_date_sk    = d_date_sk
 and d_date >= dateadd(dd, -30, '1998-04-08')
 and d_date <= dateadd(dd, 30, '1998-04-08') 
 group by
    w_state,i_item_id
 order by w_state,i_item_id"""
parse_sql_preds(sql3)

,left,table,col,op,val
0,i_current_price,X,i_current_price,between,-1
1,d_date,X,d_date,>=,"dateadd(dd, -30, '1998-04-08')"
2,d_date,X,d_date,<=,"dateadd(dd, 30, '1998-04-08')"

# replace intersect by union seems to work for now;

In [29]:
sql2 = """select top 100 count(*) from (
    select distinct c_last_name, c_first_name, d_date
    from store_sales, date_dim, customer -- skan_memo_stash_38
          where store_sales.ss_sold_date_sk = date_dim.d_date_sk
      and store_sales.ss_customer_sk = customer.c_customer_sk
      and d_month_seq between 1212 and 1212 + 11) test"""
sql2 = """select top 100 count(*) from (
    select distinct c_last_name, c_first_name, d_date
    from store_sales, date_dim, customer -- skan_memo_stash_38
          where store_sales.ss_sold_date_sk = date_dim.d_date_sk
      and store_sales.ss_customer_sk = customer.c_customer_sk
      and d_month_seq between 1212 and 1212 + 11
  union
    select distinct c_last_name, c_first_name, d_date
    from catalog_sales, date_dim, customer
          where catalog_sales.cs_sold_date_sk = date_dim.d_date_sk
      and catalog_sales.cs_bill_customer_sk = customer.c_customer_sk
      and d_month_seq between 1212 and 1212 + 11) tmp"""
parse_sql_preds(sql2)

          left table          col       op  val
0  d_month_seq     X  d_month_seq  between   -1
1  d_month_seq     X  d_month_seq  between   -1

In [30]:
def is_num(val):
    try:
        float(val)
        return True
    except:
        return False
    
def is_a_date(val):
    
    val = val.replace("'", "")
    if "date" in val:
        return True
    
    elif is_num(val):
        num = float(val)
        if num > 1900 and num < 2010:
            return True
        
    elif "+" in val:
        cvals = val[0:val.find("+")]
        if is_num(cvals):
            num = float(cvals)
            if num > 1900 and num < 2010:
                return True
            
    elif "-" in val:
#         if val.count("-") == 2:
#             print(val)
        cvals = val[0:val.find("-")]
        if is_num(cvals):
            num = float(cvals)
            if num > 1900 and num < 2010:
                return True
    
    return False


#import enchant
#enchantD = enchant.Dict("en_US")
import re
#import nltk
#nltk.download('words')
#from nltk.corpus import words as nltkwords

URLPAT = "((http|https)\:\/\/)?[a-zA-Z0-9\.\/\?\:@\-_=#]+\.([a-zA-Z]){2,6}([a-zA-Z0-9\.\&\/\?\:@\-_=#])*"
def get_like_type(op, vals):
    likekind = "-1"
    likedtype = "-1"
    
    if "like" not in op.lower():
        return likedtype, likekind
    
    vals = vals.replace("'", "")
    vals = vals.replace("(", "")
    vals = vals.replace(")", "")
    
    if vals.count("%") == 0:
        likekind = "no%"
    elif vals.count("%") == 2:
        if vals[0] == "%" and vals[-1] == "%":
            likekind = "contains"
        else:
            likekind = "x%y%x"
    elif vals.count("%") == 1:
        if vals[0] == "%":
            likekind = "ends"
        elif vals[-1] == "%":
            likekind = "starts"
        else:
            likekind = "x%x"
    else:
        nlikes = vals.count("%")
        likekind = str(nlikes) + "%"
    
    opval = vals.replace("%", "")
    
    if is_num(opval):
        likedtype = "num"
    elif len(opval) <= 2:
        likedtype = "short"
    elif opval[0] == ".":
        likedtype = "extension"
    elif re.match(URLPAT, opval) is not None:
        if ("cosmos" in opval or "adl" in opval) and "/" in opval:
            likedtype = "path"
        else:
            likedtype = "url"
            
    elif opval.count("/") >= 2 or opval.count("\\") >= 2:
        likedtype = "path"
        
    #elif enchantD.check(opval):
    elif False:
        likedtype = "word"

    elif opval.count("-") >= 2 or \
            opval.count(":") >= 2:
        likedtype = "serial"
    elif "-" in opval or "_" in opval or " " in opval or "," in opval or ":" in opval:
        if "-" in opval:       
            allvals = opval.split("-")
        elif "_" in opval:
            allvals = opval.split("_")
        elif " " in opval:
            allvals = opval.split(" ")
        elif "," in opval:
            allvals = opval.split(",")
        elif ":" in opval:
            allvals = opval.split(":")
            
        validwords = 0
        for v1 in allvals:
            if v1 == "":
                continue
            #if enchantD.check(v1):
            if False:
                validwords += 1
        if validwords >= 2:
            likedtype = "words"
    elif "0x" in opval:
        likedtype = "hex"
    else:
        validwords = 0
        start = 0
        prevstart = 0
        for oi,_ in enumerate(opval):
            cword = opval[start:oi+1]
            pword = opval[prevstart:oi+1]
            #if enchantD.check(cword) and len(cword) >= 3:
            if False:
                validwords += 1
                prevstart = start
                start = oi+1
            
            # extend previous word
            #elif enchantD.check(pword) and len(pword) >= 3:
            elif False:
                start = oi+1
                
        if validwords >= 2:
            likedtype = "words"
        else:
            likedtype = "unknown"
    
    return likedtype, likekind

def get_discrete_type(op, vals):
    dtype = "-1"
    dkind = "-1"
    #op = op.lower()
    assert op != ""
    if op in ["=", "!=", "<>", "in"]:
        if op == "=":
            dkind = "eq"
        elif op in ["!=", "<>"]:
            #print("neq!!")
            dkind = "neq"
        else:
            dkind = "in"
            
        if "select" in vals:
            dtype = "sql"
        else: 
            if "(" in vals:
                vals = vals.replace("(", "")
                vals = vals.replace(")", "")
                vals = vals.split(",")
                vals = vals[0]
            
            if is_a_date(vals):
                dtype = "date"
            elif is_num(vals):
                dtype = "num"
            else:
                dtype = "string"  
        
    return dtype, dkind

In [34]:
from collections import defaultdict

fails = 0
allinpdata = defaultdict(list)
allpreds = []

for si, sql in enumerate(sqls):
    # empty sqls
#     if si in [78, 85]:
#         continue
    
    if si % 100 == 0:
        print("Query: ", si)
        
    alldfdata = defaultdict(list)
    numwheres = sql.lower().count("where")
    
    try:
        preds = parse_sql_preds(sql)
    except Exception as e:
        #print("FAIL")
        fails += 1
        continue
    
    olen = len(preds)
    preds = preds.drop_duplicates()
    nlen = len(preds)
    
    preds["qid"] = si
    
    curcols = []
    curops = []
    for idx, row in preds.iterrows():
        curcols.append(row["col"])
        curops.append(row["op"])
        
        if row["col"] in COLS_TO_TABLES:
            tab = COLS_TO_TABLES[row["col"]]
            col = row["col"]
        elif row["table"] != "X":
            tab = row["table"]
            col = row["col"]
        else:
            tab = row["table"]
            col = "X"
        
        op = row["op"]
        alldfdata["table"].append(tab)
        alldfdata["col"].append(col)
        dtype,dkind = get_discrete_type(op, row["val"])
        alldfdata["dtype"].append(dtype)
        alldfdata["dkind"].append(dkind)
        
        likedtype,likekind = get_like_type(op, row["val"])
        alldfdata["likedtype"].append(likedtype)
        alldfdata["likekind"].append(likekind)
        
        if op in ["=", "!="]:
            alldfdata["discrete_ops"].append(1)
            alldfdata["in_ops"].append(0)
            allinpdata["col"].append(row["col"])
            allinpdata["val"].append(row["val"])
            
        elif op == "in":
            alldfdata["discrete_ops"].append(1)
            alldfdata["in_ops"].append(1)
            if "select" in row["val"]:
                pass
            else:
                cvals = row["val"]
                cvals = cvals.replace("(", "")
                cvals = cvals.replace(")", "")
                cvals = cvals.split(",")
                for cval in cvals:
                    allinpdata["col"].append(row["col"])
                    allinpdata["val"].append(cval)
        else:
            alldfdata["discrete_ops"].append(0)
            alldfdata["in_ops"].append(0)

        if op in [">", "<", ">=", "<=", "between"]:
            alldfdata["cont_ops"].append(1)
        else:
            alldfdata["cont_ops"].append(0)

        if op == "like":
            alldfdata["like_ops"].append(1)
        else:
            alldfdata["like_ops"].append(0)
    
    if len(preds) == 0:
        continue
    
    tmpdf = pd.DataFrame(alldfdata)
    assert len(tmpdf) == len(preds)
#     preds["like_ops"] = tmpdf["like_ops"]
#     preds["cont_ops"] = tmpdf["cont_ops"]
#     preds["discrete_ops"] = tmpdf["discrete_ops"]
#     preds["in_ops"] = tmpdf["in_ops"]
#     preds["dtype"] = tmpdf["dtype"]
#     preds["dkind"] = tmpdf["dkind"]
#     preds["likekind"] = tmpdf["likekind"]
    for k in tmpdf.keys():
        preds[k] = tmpdf[k]
        
    allpreds.append(preds)

Query:  0
Query:  100
Query:  200
Query:  300
Query:  400
Query:  500
Query:  600
Query:  700
Query:  800
Query:  900
Query:  1000
Query:  1100
Query:  1200
Query:  1300
Query:  1400
Query:  1500
Query:  1600
Query:  1700
Query:  1800
Query:  1900
Query:  2000
Query:  2100
Query:  2200
Query:  2300
Query:  2400
Query:  2500
Query:  2600
Query:  2700
Query:  2800
Query:  2900
Query:  3000
Query:  3100
Query:  3200
Query:  3300
Query:  3400
Query:  3500
Query:  3600
Query:  3700
Query:  3800
Query:  3900
Query:  4000
Query:  4100
Query:  4200
Query:  4300
Query:  4400
Query:  4500
Query:  4600
Query:  4700
Query:  4800
Query:  4900
Query:  5000
Query:  5100
Query:  5200
Query:  5300
Query:  5400
Query:  5500
Query:  5600
Query:  5700
Query:  5800
Query:  5900
Query:  6000
Query:  6100
Query:  6200
Query:  6300
Query:  6400
Query:  6500
Query:  6600
Query:  6700
Query:  6800
Query:  6900
Query:  7000
Query:  7100
Query:  7200
Query:  7300
Query:  7400
Query:  7500
Query:  7600
Query:  7700
Query:  7800
Query:  7900
Query:  8000
Query:  8100
Query:  8200
Query:  8300
Query:  8400
Query:  8500
Query:  8600
Query:  8700
Query:  8800
Query:  8900
Query:  9000
Query:  9100
Query:  9200
Query:  9300
Query:  9400
Query:  9500
Query:  9600
Query:  9700
Query:  9800
Query:  9900
Query:  10000
Query:  10100
Query:  10200
Query:  10300
Query:  10400
Query:  10500
Query:  10600
Query:  10700
Query:  10800
Query:  10900
Query:  11000
Query:  11100
Query:  11200
Query:  11300
Query:  11400
Query:  11500
Query:  11600
Query:  11700
Query:  11800
Query:  11900
Query:  12000
Query:  12100
Query:  12200
Query:  12300
Query:  12400
Query:  12500
Query:  12600
Query:  12700
Query:  12800
Query:  12900
Query:  13000
Query:  13100
Query:  13200
Query:  13300
Query:  13400
Query:  13500
Query:  13600
Query:  13700
Query:  13800
Query:  13900
Query:  14000
Query:  14100
Query:  14200
Query:  14300
Query:  14400
Query:  14500
Query:  14600
Query:  14700
Query:  14800
Query:  14900
Query:  15000
Query:  15100
Query:  15200
Query:  15300
Query:  15400
Query:  15500
Query:  15600
Query:  15700
Query:  15800
Query:  15900
Query:  16000
Query:  16100
Query:  16200
Query:  16300
Query:  16400
Query:  16500
Query:  16600
Query:  16700
Query:  16800
Query:  16900
Query:  17000
Query:  17100
Query:  17200
Query:  17300
Query:  17400
Query:  17500
Query:  17600
Query:  17700
Query:  17800
Query:  17900
Query:  18000
Query:  18100
Query:  18200
Query:  18300
Query:  18400
Query:  18500
Query:  18600
Query:  18700
Query:  18800
Query:  18900
Query:  19000
Query:  19100
Query:  19200
Query:  19300
Query:  19400
Query:  19500
Query:  19600
Query:  19700
Query:  19800
Query:  19900
Query:  20000
Query:  20100
Query:  20200
Query:  20300
Query:  20400
Query:  20500
Query:  20600
Query:  20700
Query:  20800
Query:  20900
Query:  21000
Query:  21100
Query:  21200
Query:  21300
Query:  21400
Query:  21500
Query:  21600
Query:  21700
Query:  21800
Query:  21900
Query:  22000
Query:  22100
Query:  22200
Query:  22300
Query:  22400
Query:  22500
Query:  22600
Query:  22700
Query:  22800
Query:  22900
Query:  23000
Query:  23100
Query:  23200
Query:  23300
Query:  23400
Query:  23500
Query:  23600
Query:  23700
Query:  23800
Query:  23900
Query:  24000
Query:  24100
Query:  24200
Query:  24300
Query:  24400
Query:  24500
Query:  24600
Query:  24700
Query:  24800
Query:  24900
Query:  25000
Query:  25100
Query:  25200
Query:  25300
Query:  25400
Query:  25500
Query:  25600
Query:  25700
Query:  25800
Query:  25900
Query:  26000
Query:  26100
Query:  26200
Query:  26300
Query:  26400
Query:  26500
Query:  26600
Query:  26700
Query:  26800
Query:  26900
Query:  27000
Query:  27100
Query:  27200
Query:  27300
Query:  27400
Query:  27500
Query:  27600
Query:  27700
Query:  27800
Query:  27900
Query:  28000
Query:  28100
Query:  28200
Query:  28300
Query:  28400
Query:  28500
Query:  28600
Query:  28700
Query:  28800
Query:  28900
Query:  29000
Query:  29100
Query:  29200
Query:  29300
Query:  29400
Query:  29500
Query:  29600
Query:  29700
Query:  29800
Query:  29900
Query:  30000
Query:  30100
Query:  30200
Query:  30300
Query:  30400
Query:  30500
Query:  30600
Query:  30700
Query:  30800
Query:  30900
Query:  31000
Query:  31100
Query:  31200
Query:  31300
Query:  31400
Query:  31500
Query:  31600
Query:  31700
Query:  31800
Query:  31900
Query:  32000
Query:  32100
Query:  32200
Query:  32300
Query:  32400
Query:  32500
Query:  32600
Query:  32700
Query:  32800
Query:  32900
Query:  33000
Query:  33100
Query:  33200
Query:  33300
Query:  33400
Query:  33500
Query:  33600
Query:  33700
Query:  33800
Query:  33900
Query:  34000
Query:  34100
Query:  34200
Query:  34300
Query:  34400
Query:  34500
Query:  34600
Query:  34700
Query:  34800
Query:  34900
Query:  35000
Query:  35100
Query:  35200
Query:  35300
Query:  35400
Query:  35500
Query:  35600
Query:  35700
Query:  35800
Query:  35900
Query:  36000
Query:  36100
Query:  36200
Query:  36300
Query:  36400
Query:  36500
Query:  36600
Query:  36700
Query:  36800
Query:  36900
Query:  37000
Query:  37100
Query:  37200
Query:  37300
Query:  37400
Query:  37500
Query:  37600
Query:  37700
Query:  37800
Query:  37900
Query:  38000
Query:  38100
Query:  38200
Query:  38300
Query:  38400
Query:  38500
Query:  38600
Query:  38700
Query:  38800
Query:  38900
Query:  39000
Query:  39100
Query:  39200
Query:  39300
Query:  39400
Query:  39500
Query:  39600
Query:  39700
Query:  39800
Query:  39900
Query:  40000
Query:  40100
Query:  40200
Query:  40300
Query:  40400
Query:  40500
Query:  40600
Query:  40700
Query:  40800
Query:  40900
Query:  41000
Query:  41100
Query:  41200
Query:  41300
Query:  41400
Query:  41500
Query:  41600
Query:  41700
Query:  41800
Query:  41900
Query:  42000
Query:  42100
Query:  42200
Query:  42300
Query:  42400
Query:  42500
Query:  42600
Query:  42700
Query:  42800
Query:  42900
Query:  43000
Query:  43100
Query:  43200
Query:  43300
Query:  43400
Query:  43500
Query:  43600
Query:  43700
Query:  43800
Query:  43900
Query:  44000
Query:  44100
Query:  44200
Query:  44300
Query:  44400
Query:  44500
Query:  44600
Query:  44700
Query:  44800
Query:  44900
Query:  45000
Query:  45100
Query:  45200
Query:  45300
Query:  45400
Query:  45500
Query:  45600
Query:  45700
Query:  45800
Query:  45900
Query:  46000
Query:  46100
Query:  46200
Query:  46300
Query:  46400
Query:  46500
Query:  46600
Query:  46700
Query:  46800
Query:  46900
Query:  47000
Query:  47100
Query:  47200
Query:  47300
Query:  47400
Query:  47500
Query:  47600
Query:  47700
Query:  47800
Query:  47900
Query:  48000
Query:  48100
Query:  48200
Query:  48300
Query:  48400
Query:  48500
Query:  48600
Query:  48700
Query:  48800
Query:  48900
Query:  49000
Query:  49100
Query:  49200
Query:  49300
Query:  49400
Query:  49500
Query:  49600
Query:  49700
Query:  49800
Query:  49900
Query:  50000
Query:  50100
Query:  50200
Query:  50300
Query:  50400
Query:  50500
Query:  50600
Query:  50700
Query:  50800
Query:  50900
Query:  51000
Query:  51100
Query:  51200
Query:  51300
Query:  51400
Query:  51500
Query:  51600
Query:  51700
Query:  51800
Query:  51900
Query:  52000
Query:  52100
Query:  52200
Query:  52300
Query:  52400
Query:  52500
Query:  52600
Query:  52700
Query:  52800
Query:  52900
Query:  53000
Query:  53100
Query:  53200
Query:  53300
Query:  53400
Query:  53500
Query:  53600
Query:  53700
Query:  53800
Query:  53900
Query:  54000
Query:  54100
Query:  54200
Query:  54300
Query:  54400
Query:  54500
Query:  54600
Query:  54700
Query:  54800
Query:  54900
Query:  55000
Query:  55100
Query:  55200
Query:  55300
Query:  55400
Query:  55500
Query:  55600
Query:  55700
Query:  55800
Query:  55900
Query:  56000
Query:  56100
Query:  56200
Query:  56300
Query:  56400
Query:  56500
Query:  56600
Query:  56700
Query:  56800
Query:  56900
Query:  57000
Query:  57100
Query:  57200
Query:  57300
Query:  57400
Query:  57500
Query:  57600
Query:  57700
Query:  57800
Query:  57900
Query:  58000
Query:  58100
Query:  58200
Query:  58300
Query:  58400
Query:  58500
Query:  58600
Query:  58700
Query:  58800
Query:  58900
Query:  59000
Query:  59100
Query:  59200
Query:  59300

Query:  59400
Query:  59500
Query:  59600
Query:  59700
Query:  59800
Query:  59900
Query:  60000
Query:  60100
Query:  60200
Query:  60300
Query:  60400
Query:  60500
Query:  60600
Query:  60700
Query:  60800
Query:  60900
Query:  61000
Query:  61100
Query:  61200
Query:  61300
Query:  61400
Query:  61500
Query:  61600
Query:  61700
Query:  61800
Query:  61900
Query:  62000
Query:  62100
Query:  62200
Query:  62300
Query:  62400
Query:  62500
Query:  62600
Query:  62700
Query:  62800
Query:  62900
Query:  63000
Query:  63100
Query:  63200
Query:  63300
Query:  63400
Query:  63500
Query:  63600
Query:  63700
Query:  63800
Query:  63900
Query:  64000
Query:  64100
Query:  64200
Query:  64300
Query:  64400
Query:  64500
Query:  64600
Query:  64700
Query:  64800
Query:  64900
Query:  65000
Query:  65100
Query:  65200
Query:  65300
Query:  65400
Query:  65500
Query:  65600
Query:  65700
Query:  65800
Query:  65900
Query:  66000
Query:  66100
Query:  66200
Query:  66300
Query:  66400
Query:  66500
Query:  66600
Query:  66700
Query:  66800
Query:  66900
Query:  67000
Query:  67100
Query:  67200
Query:  67300
Query:  67400
Query:  67500
Query:  67600
Query:  67700
Query:  67800
Query:  67900
Query:  68000
Query:  68100
Query:  68200
Query:  68300
Query:  68400
Query:  68500
Query:  68600
Query:  68700
Query:  68800
Query:  68900
Query:  69000
Query:  69100
Query:  69200
Query:  69300
Query:  69400
Query:  69500
Query:  69600
Query:  69700
Query:  69800
Query:  69900
Query:  70000
Query:  70100
Query:  70200
Query:  70300
Query:  70400
Query:  70500
Query:  70600
Query:  70700
Query:  70800
Query:  70900
Query:  71000
Query:  71100
Query:  71200
Query:  71300
Query:  71400
Query:  71500
Query:  71600
Query:  71700
Query:  71800
Query:  71900
Query:  72000
Query:  72100
Query:  72200
Query:  72300
Query:  72400
Query:  72500
Query:  72600
Query:  72700
Query:  72800
Query:  72900
Query:  73000
Query:  73100
Query:  73200
Query:  73300
Query:  73400
Query:  73500
Query:  73600
Query:  73700
Query:  73800
Query:  73900
Query:  74000
Query:  74100
Query:  74200
Query:  74300
Query:  74400
Query:  74500
Query:  74600
Query:  74700
Query:  74800
Query:  74900
Query:  75000
Query:  75100
Query:  75200
Query:  75300
Query:  75400
Query:  75500
Query:  75600
Query:  75700
Query:  75800
Query:  75900
Query:  76000
Query:  76100
Query:  76200
Query:  76300
Query:  76400
Query:  76500
Query:  76600
Query:  76700
Query:  76800
Query:  76900
Query:  77000
Query:  77100
Query:  77200
Query:  77300
Query:  77400
Query:  77500
Query:  77600
Query:  77700
Query:  77800
Query:  77900
Query:  78000
Query:  78100
Query:  78200
Query:  78300
Query:  78400
Query:  78500
Query:  78600
Query:  78700
Query:  78800
Query:  78900
Query:  79000
Query:  79100
Query:  79200
Query:  79300
Query:  79400
Query:  79500
Query:  79600
Query:  79700
Query:  79800
Query:  79900
Query:  80000
Query:  80100
Query:  80200
Query:  80300
Query:  80400
Query:  80500
Query:  80600
Query:  80700
Query:  80800
Query:  80900
Query:  81000
Query:  81100
Query:  81200
Query:  81300
Query:  81400
Query:  81500
Query:  81600
Query:  81700
Query:  81800
Query:  81900
Query:  82000
Query:  82100
Query:  82200
Query:  82300
Query:  82400
Query:  82500
Query:  82600
Query:  82700
Query:  82800
Query:  82900
Query:  83000
Query:  83100
Query:  83200
Query:  83300
Query:  83400
Query:  83500
Query:  83600
Query:  83700
Query:  83800
Query:  83900
Query:  84000
Query:  84100
Query:  84200
Query:  84300
Query:  84400
Query:  84500
Query:  84600
Query:  84700
Query:  84800
Query:  84900
Query:  85000
Query:  85100
Query:  85200
Query:  85300
Query:  85400
Query:  85500
Query:  85600
Query:  85700
Query:  85800
Query:  85900
Query:  86000
Query:  86100
Query:  86200
Query:  86300
Query:  86400
Query:  86500
Query:  86600
Query:  86700
Query:  86800
Query:  86900
Query:  87000
Query:  87100
Query:  87200
Query:  87300
Query:  87400
Query:  87500
Query:  87600
Query:  87700
Query:  87800
Query:  87900
Query:  88000
Query:  88100
Query:  88200
Query:  88300
Query:  88400
Query:  88500
Query:  88600
Query:  88700
Query:  88800
Query:  88900
Query:  89000
Query:  89100
Query:  89200
Query:  89300
Query:  89400
Query:  89500
Query:  89600
Query:  89700
Query:  89800
Query:  89900
Query:  90000
Query:  90100
Query:  90200
Query:  90300
Query:  90400
Query:  90500
Query:  90600
Query:  90700
Query:  90800
Query:  90900
Query:  91000
Query:  91100
Query:  91200
Query:  91300
Query:  91400
Query:  91500
Query:  91600
Query:  91700
Query:  91800
Query:  91900
Query:  92000
Query:  92100
Query:  92200
Query:  92300
Query:  92400
Query:  92500
Query:  92600
Query:  92700
Query:  92800
Query:  92900
Query:  93000
Query:  93100
Query:  93200
Query:  93300
Query:  93400
Query:  93500
Query:  93600
Query:  93700
Query:  93800
Query:  93900
Query:  94000
Query:  94100
Query:  94200
Query:  94300
Query:  94400
Query:  94500
Query:  94600
Query:  94700
Query:  94800
Query:  94900
Query:  95000
Query:  95100
Query:  95200
Query:  95300
Query:  95400
Query:  95500
Query:  95600
Query:  95700
Query:  95800
Query:  95900
Query:  96000
Query:  96100
Query:  96200
Query:  96300
Query:  96400
Query:  96500
Query:  96600
Query:  96700
Query:  96800
Query:  96900
Query:  97000
Query:  97100
Query:  97200
Query:  97300
Query:  97400
Query:  97500
Query:  97600
Query:  97700
Query:  97800
Query:  97900
Query:  98000
Query:  98100
Query:  98200
Query:  98300
Query:  98400
Query:  98500
Query:  98600
Query:  98700
Query:  98800
Query:  98900
Query:  99000
Query:  99100
Query:  99200
Query:  99300
Query:  99400
Query:  99500
Query:  99600
Query:  99700
Query:  99800
Query:  99900
Query:  100000
Query:  100100
Query:  100200
Query:  100300
Query:  100400
Query:  100500
Query:  100600
Query:  100700
Query:  100800
Query:  100900
Query:  101000
Query:  101100
Query:  101200
Query:  101300
Query:  101400
Query:  101500
Query:  101600
Query:  101700
Query:  101800
Query:  101900
Query:  102000
Query:  102100
Query:  102200
Query:  102300
Query:  102400
Query:  102500
Query:  102600
Query:  102700
Query:  102800
Query:  102900
Query:  103000
Query:  103100
Query:  103200
Query:  103300
Query:  103400
Query:  103500
Query:  103600
Query:  103700
Query:  103800
Query:  103900
Query:  104000
Query:  104100
Query:  104200
Query:  104300
Query:  104400
Query:  104500
Query:  104600
Query:  104700
Query:  104800
Query:  104900
Query:  105000
Query:  105100
Query:  105200
Query:  105300
Query:  105400
Query:  105500
Query:  105600
Query:  105700
Query:  105800
Query:  105900
Query:  106000
Query:  106100
Query:  106200
Query:  106300
Query:  106400
Query:  106500
Query:  106600
Query:  106700
Query:  106800
Query:  106900
Query:  107000
Query:  107100
Query:  107200
Query:  107300
Query:  107400
Query:  107500
Query:  107600
Query:  107700
Query:  107800
Query:  107900
Query:  108000
Query:  108100
Query:  108200
Query:  108300
Query:  108400
Query:  108500
Query:  108600
Query:  108700
Query:  108800
Query:  108900
Query:  109000
Query:  109100
Query:  109200
Query:  109300
Query:  109400
Query:  109500
Query:  109600
Query:  109700
Query:  109800
Query:  109900
Query:  110000
Query:  110100
Query:  110200
Query:  110300
Query:  110400
Query:  110500
Query:  110600
Query:  110700
Query:  110800
Query:  110900
Query:  111000
Query:  111100
Query:  111200
Query:  111300
Query:  111400
Query:  111500
Query:  111600
Query:  111700
Query:  111800
Query:  111900
Query:  112000
Query:  112100
Query:  112200
Query:  112300
Query:  112400
Query:  112500
Query:  112600
Query:  112700
Query:  112800
Query:  112900
Query:  113000
Query:  113100
Query:  113200
Query:  113300
Query:  113400
Query:  113500
Query:  113600
Query:  113700
Query:  113800
Query:  113900
Query:  114000
Query:  114100
Query:  114200
Query:  114300
Query:  114400
Query:  114500
Query:  114600
Query:  114700
Query:  114800
Query:  114900
Query:  115000
Query:  115100
Query:  115200
Query:  115300
Query:  115400
Query:  115500
Query:  115600
Query:  115700
Query:  115800
Query:  115900
Query:  116000
Query:  116100
Query:  116200
Query:  116300
Query:  116400
Query:  116500
Query:  116600
Query:  116700

Query:  116800
Query:  116900
Query:  117000
Query:  117100
Query:  117200
Query:  117300
Query:  117400
Query:  117500
Query:  117600
Query:  117700
Query:  117800
Query:  117900
Query:  118000
Query:  118100
Query:  118200
Query:  118300
Query:  118400
Query:  118500
Query:  118600
Query:  118700
Query:  118800
Query:  118900
Query:  119000
Query:  119100
Query:  119200
Query:  119300
Query:  119400
Query:  119500
Query:  119600
Query:  119700
Query:  119800
Query:  119900
Query:  120000
Query:  120100
Query:  120200
Query:  120300
Query:  120400
Query:  120500
Query:  120600
Query:  120700
Query:  120800
Query:  120900
Query:  121000
Query:  121100
Query:  121200
Query:  121300
Query:  121400
Query:  121500
Query:  121600
Query:  121700
Query:  121800
Query:  121900
Query:  122000
Query:  122100
Query:  122200
Query:  122300
Query:  122400
Query:  122500
Query:  122600
Query:  122700
Query:  122800
Query:  122900
Query:  123000
Query:  123100
Query:  123200
Query:  123300
Query:  123400
Query:  123500
Query:  123600
Query:  123700
Query:  123800
Query:  123900
Query:  124000
Query:  124100
Query:  124200
Query:  124300
Query:  124400
Query:  124500
Query:  124600
Query:  124700
Query:  124800
Query:  124900
Query:  125000
Query:  125100
Query:  125200
Query:  125300
Query:  125400
Query:  125500
Query:  125600
Query:  125700
Query:  125800
Query:  125900
Query:  126000
Query:  126100
Query:  126200
Query:  126300
Query:  126400
Query:  126500
Query:  126600
Query:  126700
Query:  126800
Query:  126900
Query:  127000
Query:  127100
Query:  127200
Query:  127300
Query:  127400
Query:  127500
Query:  127600
Query:  127700
Query:  127800
Query:  127900
Query:  128000
Query:  128100
Query:  128200
Query:  128300
Query:  128400
Query:  128500
Query:  128600
Query:  128700
Query:  128800
Query:  128900
Query:  129000
Query:  129100
Query:  129200
Query:  129300
Query:  129400
Query:  129500
Query:  129600
Query:  129700
Query:  129800
Query:  129900
Query:  130000
Query:  130100
Query:  130200
Query:  130300
Query:  130400
Query:  130500
Query:  130600
Query:  130700
Query:  130800
Query:  130900
Query:  131000
Query:  131100
Query:  131200
Query:  131300
Query:  131400
Query:  131500
Query:  131600
Query:  131700
Query:  131800
Query:  131900
Query:  132000
Query:  132100
Query:  132200
Query:  132300
Query:  132400
Query:  132500
Query:  132600
Query:  132700
Query:  132800
Query:  132900
Query:  133000
Query:  133100
Query:  133200
Query:  133300
Query:  133400
Query:  133500
Query:  133600
Query:  133700
Query:  133800
Query:  133900
Query:  134000
Query:  134100
Query:  134200
Query:  134300
Query:  134400
Query:  134500
Query:  134600
Query:  134700
Query:  134800
Query:  134900
Query:  135000
Query:  135100
Query:  135200
Query:  135300
Query:  135400
Query:  135500
Query:  135600
Query:  135700
Query:  135800
Query:  135900
Query:  136000
Query:  136100
Query:  136200
Query:  136300
Query:  136400
Query:  136500
Query:  136600
Query:  136700
Query:  136800
Query:  136900
Query:  137000
Query:  137100
Query:  137200
Query:  137300
Query:  137400
Query:  137500
Query:  137600
Query:  137700
Query:  137800
Query:  137900
Query:  138000
Query:  138100
Query:  138200
Query:  138300
Query:  138400
Query:  138500
Query:  138600
Query:  138700
Query:  138800
Query:  138900
Query:  139000
Query:  139100
Query:  139200
Query:  139300
Query:  139400
Query:  139500
Query:  139600
Query:  139700
Query:  139800
Query:  139900
Query:  140000
Query:  140100
Query:  140200
Query:  140300
Query:  140400
Query:  140500
Query:  140600
Query:  140700
Query:  140800
Query:  140900
Query:  141000
Query:  141100
Query:  141200
Query:  141300
Query:  141400
Query:  141500
Query:  141600
Query:  141700
Query:  141800
Query:  141900
Query:  142000
Query:  142100
Query:  142200
Query:  142300
Query:  142400
Query:  142500
Query:  142600
Query:  142700
Query:  142800
Query:  142900
Query:  143000
Query:  143100
Query:  143200
Query:  143300
Query:  143400
Query:  143500
Query:  143600
Query:  143700
Query:  143800
Query:  143900
Query:  144000
Query:  144100
Query:  144200
Query:  144300
Query:  144400
Query:  144500
Query:  144600
Query:  144700
Query:  144800
Query:  144900
Query:  145000
Query:  145100
Query:  145200
Query:  145300
Query:  145400
Query:  145500
Query:  145600
Query:  145700
Query:  145800
Query:  145900
Query:  146000
Query:  146100
Query:  146200
Query:  146300
Query:  146400
Query:  146500
Query:  146600
Query:  146700
Query:  146800
Query:  146900
Query:  147000
Query:  147100
Query:  147200
Query:  147300
Query:  147400
Query:  147500
Query:  147600
Query:  147700
Query:  147800
Query:  147900
Query:  148000
Query:  148100
Query:  148200
Query:  148300
Query:  148400
Query:  148500
Query:  148600
Query:  148700
Query:  148800
Query:  148900
Query:  149000
Query:  149100
Query:  149200
Query:  149300
Query:  149400
Query:  149500
Query:  149600
Query:  149700
Query:  149800
Query:  149900
Query:  150000
Query:  150100
Query:  150200
Query:  150300
Query:  150400
Query:  150500
Query:  150600
Query:  150700
Query:  150800
Query:  150900
Query:  151000
Query:  151100
Query:  151200
Query:  151300
Query:  151400
Query:  151500
Query:  151600
Query:  151700
Query:  151800
Query:  151900
Query:  152000
Query:  152100
Query:  152200
Query:  152300
Query:  152400
Query:  152500
Query:  152600
Query:  152700
Query:  152800
Query:  152900
Query:  153000
Query:  153100
Query:  153200
Query:  153300
Query:  153400
Query:  153500
Query:  153600
Query:  153700
Query:  153800
Query:  153900
Query:  154000
Query:  154100
Query:  154200
Query:  154300
Query:  154400
Query:  154500
Query:  154600
Query:  154700
Query:  154800
Query:  154900
Query:  155000
Query:  155100
Query:  155200
Query:  155300
Query:  155400
Query:  155500
Query:  155600
Query:  155700
Query:  155800
Query:  155900
Query:  156000
Query:  156100
Query:  156200
Query:  156300
Query:  156400
Query:  156500
Query:  156600
Query:  156700
Query:  156800
Query:  156900
Query:  157000
Query:  157100
Query:  157200
Query:  157300
Query:  157400
Query:  157500
Query:  157600
Query:  157700
Query:  157800
Query:  157900
Query:  158000
Query:  158100
Query:  158200
Query:  158300
Query:  158400
Query:  158500
Query:  158600
Query:  158700
Query:  158800
Query:  158900
Query:  159000
Query:  159100
Query:  159200
Query:  159300
Query:  159400
Query:  159500
Query:  159600
Query:  159700
Query:  159800
Query:  159900
Query:  160000
Query:  160100
Query:  160200
Query:  160300
Query:  160400
Query:  160500
Query:  160600
Query:  160700
Query:  160800
Query:  160900
Query:  161000
Query:  161100
Query:  161200
Query:  161300
Query:  161400
Query:  161500
Query:  161600
Query:  161700
Query:  161800
Query:  161900
Query:  162000
Query:  162100
Query:  162200
Query:  162300
Query:  162400
Query:  162500
Query:  162600
Query:  162700
Query:  162800
Query:  162900
Query:  163000
Query:  163100
Query:  163200
Query:  163300
Query:  163400
Query:  163500
Query:  163600
Query:  163700
Query:  163800
Query:  163900
Query:  164000
Query:  164100
Query:  164200
Query:  164300
Query:  164400
Query:  164500
Query:  164600
Query:  164700
Query:  164800
Query:  164900
Query:  165000
Query:  165100
Query:  165200
Query:  165300
Query:  165400
Query:  165500
Query:  165600
Query:  165700
Query:  165800
Query:  165900
Query:  166000
Query:  166100
Query:  166200
Query:  166300
Query:  166400
Query:  166500
Query:  166600
Query:  166700
Query:  166800
Query:  166900
Query:  167000
Query:  167100
Query:  167200
Query:  167300
Query:  167400
Query:  167500
Query:  167600
Query:  167700
Query:  167800
Query:  167900
Query:  168000
Query:  168100
Query:  168200
Query:  168300
Query:  168400
Query:  168500
Query:  168600
Query:  168700
Query:  168800
Query:  168900
Query:  169000
Query:  169100
Query:  169200
Query:  169300
Query:  169400
Query:  169500
Query:  169600
Query:  169700
Query:  169800
Query:  169900
Query:  170000
Query:  170100
Query:  170200
Query:  170300
Query:  170400
Query:  170500
Query:  170600
Query:  170700
Query:  170800
Query:  170900
Query:  171000
Query:  171100
Query:  171200
Query:  171300

In [35]:
# for k,v in alldfdata.items():
#     print(k, len(v))
print(fails)

24470

In [36]:
df = pd.concat(allpreds)

In [37]:
df.head(6)

,left,table,col,op,val,qid,dtype,dkind,likedtype,likekind,discrete_ops,in_ops,cont_ops,like_ops
0,tags,X,X,like,'%<adobe-illustrator>%',0,-1,-1,-1,contains,0.0,0.0,0.0,1.0
0,posts.ViewCount,posts,ViewCount,>,1000000,2,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,tcs.CusterStatus,tcs,CusterStatus,=,'Active',3,string,eq,-1,-1,1.0,0.0,0.0,0.0
0,ParentId,X,X,=,359903,7,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,p.PostTypeId,p,PostTypeId,=,1,8,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,Month(p.CreationDate),function,p.CreationDate,=,Month(getdate()),8,date,eq,-1,-1,1.0,0.0,0.0,0.0

In [38]:
print(df.keys())
print(len(df))

Index(['left', 'table', 'col', 'op', 'val', 'qid', 'dtype', 'dkind',
       'likedtype', 'likekind', 'discrete_ops', 'in_ops', 'cont_ops',
       'like_ops'],
      dtype='object')
412629

In [39]:
#df.to_csv("ceb_queries_df.csv", index=False)
#df.to_csv("tpcds_queries_df.csv", index=False)
df.to_csv("stackexchange_queries_df.csv", index=False)

In [40]:
# df2 = pd.read_csv("job_queries_df.csv")
# df2.head(5)

In [41]:
HTML(df[["like_ops", "discrete_ops", "cont_ops", "in_ops"]].\
     describe(percentiles=[0.9,0.99]).reset_index().to_html(index=False))

In [42]:
#print(set(df["dkind"]))

In [43]:
discdf = df[df.discrete_ops == 1]
discdf.groupby(["dkind"]).count()["discrete_ops"].reset_index().sort_values(by="discrete_ops")

  dkind  discrete_ops
2   neq          1140
1    in         13461
0    eq        224119

In [44]:
discdf.groupby(["dtype"]).count()["discrete_ops"].reset_index().sort_values(by="discrete_ops", ascending=False)

    dtype  discrete_ops
3  string        134695
1     num        102370
2     sql          1461
0    date           194

In [45]:
ldf = df[df.like_ops == 1]
ldf.groupby("likedtype").count()["discrete_ops"].reset_index().sort_values(by="discrete_ops", ascending=False)

   likedtype  discrete_ops
6    unknown         62182
0         -1         10164
5      short          4577
4     serial           583
7        url           562
3       path           347
2        num           344
1  extension           172

In [75]:
ldf.groupby("likekind").count()["discrete_ops"].reset_index().sort_values(by="discrete_ops", ascending=False)

    likekind  discrete_ops
5   contains         28053
10     x%y%x          4189
7        no%          4024
6       ends          2715
8     starts          1646
1         3%           532
2         4%            79
9        x%x            72
3         5%            16
4         6%             7
0        16%             1

In [76]:
inpdata = pd.DataFrame(allinpdata)

In [78]:
print(len(inpdata))
inpdata = inpdata.drop_duplicates()
inpdata = inpdata[inpdata["col"] != "function"]
print(len(inpdata))
print(len(set(inpdata["col"])))
print(set(inpdata["col"]))

151891
151891
483
{'', '@WithoutVotes', 'voterid', 'ReviewTaskTypeId', '@includeCactus', 'Owneruserid', 'owneruserid', 'AnswerCount', '@anum', '@UserCount', '[Name]', 'Accepted', '[Posttypeid]', '@user_id', '@total', 'Tags', '[Status]', 'p.CommentCount', 'DISPLAYNAME', 'title', '@rcnt', 'CommunityOwnedDate', 'b.Body', 'DateRank', 'is_ms_shipped', 'rnasc', '[TagBased]', 'Location', 'rk', 'VoteRevNo', 'revisionguid', 'PostHistoryTypeId', 'yyyy,CreationDate', 'OwnerUserID', 'object_id', 'CreationDate as char(10)', '@excludetag', 'b.Date', 'MigrationHistory.CreationDate', 'tagBased', 'C.Body', 'RN_A', 'fav', 'parentid', 'PostHistory.Comment AS int', 'BountyAmount', '@Empty', 'CreationDate AS DATE', 'Tagbased', 'P.AnswerCount', 'flagtypeid', 'ScoreNow', 'DATEDIFF(DAY, ClosedDate, GETDATE()) as FLOAT', 'CloseAsOffTopicReasonTypeId', '[Answers]', 'tagid', 'dd,CreationDate,LastAccessDate', 'p.CreationDate', 'TagBased', 'userId', 'Id', 'AuditTypeId', 'rnk', 'userid', 'Questions.CreationDate', 'posttypeid', '@UserId', 'awarded', 'HighRepAnswers', '@Score20', 'ClosedDate', 'closeReasonTypeId', 'DisplayName', 'tags', 'body', 'N', 'question.CreationDate', 'yyyy,ClosedDate', 'answerct', 'lastaccessdate', 'STags.TagName', 'score', 'rank', '@Tag5', 'tagbased', 'Perf', 'NumBadges', '@includeFlagged', 'TAGNAME', 'upvotes', 'owneruserId', 'posthistoryTypeID', 'yyyy,q.CreationDate', 'Age', '"AnswerCount"', '@yearcount', 'y,u.CreationDate', 'RN', 'comment', 'Name', 'pOSTID', 'cn', 'QuestionAskYear', 'parentId', '[has EXCEL-20xx]', 'reviewtaskstateid', 'OwnerUSerId', 'tag_name', '@searchQ', 'VOTETYPEID', '@date', 'dt', 'ReviewTaskTypeID', 'pe.Body', '@Tag4', '@searchA', 'itemId', '@Accepted', '@Score50', '@ClosedQs', 'PostID', 'q.AcceptedAnswerId', '@MinScore', 'PostId', '@Score5', 'voteTypeID', 'dwnVt', 'UserID', 'answercount', 'PostTypeid', 'p.creationDate', 'DeletionDate AS char', 'ReviewTaskStateId', 'voteTypeId', 'ownerdisplayname', 'earned', '@Tag3', 'yr', 'Posts', 'location', 'postHistoryTypeID', 'userDisplayName', 'posttypeID', 'PARENTID', 'Reputation', '[STATUS]', 'dw', '@tagname', '@AllUsers', 'mnth', 'rn', 'RevisionGUID', 'RequiredBadges', 'VoteType', 'postid', 'ph.Comment AS int', 'Row', 'SuggestedEditId', 'TABLE_SCHEMA', 'AccountId', 'avgrank', 'Tagname', 'TagN', '@FirstMonth', 'creationdate', 'down', 'acceptedAnswerId', '@Total', '[Item]', 'Rep500', 'LastEditorUserId', 'LastEditorDisplayName', 'postHistoryTypeId', 'DownVotes', '[location]', 'QuestionTime', 'Badges.name', 'DATEPART(YYYY, p.CreationDate) as varchar', 'CreationDate', 'Views', 'tagID', 'posthistoryTypeid', 'POSTID', 'TagId', 'tagCount', 'yyyy,Users.LastAccessDate', 'USERID', 'VoteTypeId', 'AnswerNum', 'TAGS', 'tagname', 'VoteTypeName', 'Displayname', '[Rank]', 'field', 'tagrank', 'actorname', 'CusterStatus', 'Table_Name', 'TopUsers', 'TargetUserId', 'ph.Comment as varchar(5)', 'OwnerUserid', 'DATEPART(YYYY, CreationDate) as varchar', 'tags.tagname', 'Score', 'ownerUserID', 'Tag', '@total_comments', 'DATEPART(MM, CreationDate) as varchar', 'LastActivityDate', 'targetuserid', '@Score0', 'm,Post.CreationDate', 'id,name', 'ReviewTaskStateID', 'locked', 'EmailHash', 'u.LastAccessDate', 'posts.creationdate', 'Tagid', 'order_id', '##GetDeleted', 'Cant', 'p.ParentId,p.Id', 'TYPE', 'Title', 'answers.creationdate', 'totalscorerank', 'YYYY,p.CreationDate', 'SCORE', 'u.Location', 'creationdate as date', '@Rank', 'postTypeId', 'pd_user', ' PostTypeId', 'd,Users.LastAccessDate', 'mm,creationdate', 'TABLE_CATALOG', '@Tag1', 'reviewtasktypeid', 'registered', '@lowerRep', 'CreationMonth', 'AboutMe', 'PostTypeID', '@Answers', 'isanonymous', 'pcnt', 'u.AboutMe', 'TargetTagName', 'TextClean', 'Comments.CreationDate', 'type', 't.TagName', '@withCap', 'tagName', '@TopUsers', 'q.ClosedDate', '@Questions', 'Rep10000', ' VoteTypeId', 'm,Posts.CreationDate', '@excludes', 'Pe.Body', 'ID as varchar(100)', 'posthistorytypeid', 'TotalUserPosts', 'PostHistoryTypeID', 'p', 'LastAccessDate', 'record_status', '[Count]', 'VotetypeId', 'pw.Body', 'Userid', 'ownerUserId', 'Users.Id', 'site', 'POstTypeId', '[Resp Aceita]', 'q.AnswerCount', '"location"', 'UserDisplayName', '[PostTypeId]', 'Type', 'p.answercount', 'rnq', '##GetOpen', 'DeletionDate', 'Upvotes', 'Pw.Body', 'vote_type', 'FlagTypeId', 'n', '@path', 'DATETIME', 'posts.creationDate as date', 'a.NAME', 'seq', 'NAME', 'two_days_variable', 'IsMod', 'id', 'Downs', '@period', 'Users.CreationDate', '@higherRep', 'LowRepAnswers', 'AcceptedAnswerId', 'ph.text', 'RepMax', 'aboutMe', 'dd,CreationDate', 'ApprovalDate', '@Score3', 'OwnerUserId', '@sql', 'Text', 'TagID', 'downvotes', 'Level', '[rank hi]', 'ReviewTaskResultTypeId', 'v.CreationDate AS Date', '@OpenQs', 'RelatedPostId', '[Location]', 'LOCATION', 'database_id', 'is_primary_key', '[rank lo]', 'SQL_Latin1_General_CP1_CI_AI', '[Top Tag]', 'BadRec', 'gold', 'displayname', 'CloseReasonTypeId', 'P.CREATIONDATE', 'LastEditorUserID', 'CommentCount', 'a.creationdate', 'Users.Reputation', 'ID', 'relationship', 'xtype', 'ViewCount', 'Rep3000', '[OwnerUserID]', 'h.Comment', 'ParentId', '@Closed', 'Constraint_Type', 'ph.creationdate', 'questions.creationdate', 'src.[end]', 'mm,CreationDate', 'Rank', 'selectiontypeid', 'Votes.CreationDate', '@rowindex', '[LastAccessDate]', 'TABLE_TYPE', 'accountid', 'RowAsc', 'postnoticetypeid', 'Count', 'ownerDisplayName', 'Rep1000', '@countAvg', 'p.Body', 'RowNo', '[Comment]', 'Value', 'u.CreationDate', 'm,u.CreationDate', 'p.body', 'NumberOfMerges', 'POSTTYPEID', 'AccountID', 'votetypeid', 'Class', 'dd,creationdate', 'OwnerDisplayName', 'Question', 'votes.creationdate', 'FavoriteCount', 'VoteTypeID', 'class', 'TagName', '@gendered_comments', 'P.CreationDate', 'YYYY,Posts.CreationDate', 'ExcerptPostId', 'up', 'answerCount', 'ph.Text', 'creationDate', 'p.creationdate', 'Ranking', '[text]', 'Rep20000', 'post.creationdate', '@UserID', 'WebsiteUrl', 'Votetypeid', 'Users.Location', 'SourceTagName', 'C.CreationDate', 'commentcount', 'v.creationdate', 'r', 'Tags.TagName', '@betterthanme', 'dbName', '@totalAvg', 'p.AnswerCount', 'Posts.CreationDate', '[status]', 'Bountyamount', '@Score10', 'age', 'Comment', 'p.ClosedDate', 'IsAnonymous', 'LastEditDate', 'solo', 'int##', '@Tag2', 'PosttypeId', '##GetClosed', 'LinkTypeID', '@Language,Q.Tags', 'displaynAME', 'tagId', '[PostHistoryTypeId]', '@Cnt', '@ScoreNegative1', '[DisplayName]', ' PostHistoryTypeId', 'count', 'linktypeid', 'YYYY,CreationDate', 'UserId', "cast(DATEPART(YYYY, CreationDate) as varchar) + '-' + cast(DATEPART(MM, CreationDate) as varchar) + '-01'\n    as datetime", '@ScoreNegative', 'q.CreationDate', 'e.Body', 'Status', '@include1RepUsers', 'PostNoticeTypeId', 'q.Score', 'closeddate', 'Downvotes', 'questionTenure', 'Body', 'lasteditoruserid', 'displayName', 'UpVotes', 'viewCount', 'userID', 'Opt', 'b.name', 'Fragment', 'websiteurl', 'Posttypeid', 'reputation', 'PostTypeId', 'WikiPostId', 'p.CreationDate,v.CreationDate', 'AboutME', 'postHistorytypeid', '@dt', 'LinkTypeId', 'ClassId', 'name', 't.tagname', 'postTypeID', '@StartTime,CreationDate', 'ParentID', 'yyyy,Posts.CreationDate', 'askedyr'}

# unique values seen in each column

In [80]:
inpdata.groupby("col").count().reset_index()["val"].describe(percentiles=[0.75,0.9,0.99])

count      483.000000
mean       314.474120
std       4399.790945
min          1.000000
50%          1.000000
75%          3.500000
90%         19.800000
99%       3715.440000
max      93337.000000
Name: val, dtype: float64

In [81]:
dff = df[df["col"] == "function"]
dff

,left,table,col,op,val,qid,dtype,dkind,likedtype,likekind,discrete_ops,in_ops,cont_ops,like_ops
3,(\n\t\t\tselect count(B.Id) \n\t\t\tfrom Posts...,function,function,>,0,66,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,N,X,function,>=,1,67,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,ParentId,X,function,=,135169,68,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,Tags,X,function,like,'%google-cloud-functions%',71,-1,-1,serial,contains,0.0,0.0,0.0,1.0
0,PostTypeId,X,function,=,2,72,num,eq,-1,-1,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,(select sum(u3.Reputation) from Users u3 where...,function,function,>,1000,84765,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,PostHistoryTypeId,X,function,=,10,84766,num,eq,-1,-1,1.0,0.0,0.0,0.0
2,(up+down),function,function,>,0,84788,-1,-1,-1,-1,0.0,0.0,1.0,0.0
1,-2*down,function,function,<,0,84802,-1,-1,-1,-1,0.0,0.0,1.0,0.0
2,-2*down,function,function,>,0,84802,-1,-1,-1,-1,0.0,0.0,1.0,0.0

In [82]:
#pdf = pd.concat(allpreds)
pdf = df

In [83]:
pdf.head(5)

,left,table,col,op,val,qid,dtype,dkind,likedtype,likekind,discrete_ops,in_ops,cont_ops,like_ops
0,tcs.CusterStatus,tcs,CusterStatus,=,'Active',0,string,eq,-1,-1,1.0,0.0,0.0,0.0
0,posts.ViewCount,posts,ViewCount,>,10000,2,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,Posts.CreationDate,Posts,CreationDate,<,'2010-01-01',3,-1,-1,-1,-1,0.0,0.0,1.0,0.0
1,Posts.CreationDate,Posts,CreationDate,>,'2010-02-01',3,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,answer.PostTypeId,answer,PostTypeId,=,2,4,num,eq,-1,-1,1.0,0.0,0.0,0.0

In [84]:
#pdf = pdf[pdf.col.isin(COLS_TO_TABLES)]

# TODO: need equivalent version for SCOPE;
## TODO: more important is #columns per input in a query; for this we need column --> table mapping

In [85]:
pdf.groupby(["col", "qid"])["op"].nunique().reset_index().sort_values(by="op", ascending=False)["op"].describe(
                                    percentiles=[0.75,0.90,0.99])

count    76202.000000
mean         1.156964
std          0.421617
min          1.000000
50%          1.000000
75%          1.000000
90%          2.000000
99%          3.000000
max          6.000000
Name: op, dtype: float64

In [86]:
for col in set(pdf["col"]):
    if not col in COLS_TO_TABLES:
        print(col)

nan

answer.Body
 reputation
m,CreationDate
DD,p.CreationDate
Users.LastAccessDate
ReviewTaskTypeId
m,q.creationdate
p.Id
owneruserid
description
c
AnswerCount
pp.Body
Rep
@anum
[Name]
dd,Question.CreationDate,Answer.CreationDate
ss,Users.CreationDate,Posts.CreationDate
ReviewResultType
[u].[Location]
V.CreationDate
P.Body
[Posttypeid]
q.Tags
Tags
[Status]
s,creationdate,closeddate
p.CommentCount
Monthindex
title
Answers.Body
q.Title
p.CreationDate,@latestDate
CommunityOwnedDate
b.Title
[Accepted]
b.Body
d,LastAccessDate
##TagName
p.Title
is_ms_shipped
Location
num
Users.DisplayName
[Order]
mi,p7.CreationDate,p6.CreationDate
VoteRevNo
Questions.CreationDate,Votes.CreationDate
phis.Comment
PostHistoryTypeId
us.DisplayName
v.CreationDate,p.CreationDate
yyyy,CreationDate
dd,users.CreationDate
index_id
dd,LastAccessDate
a.body
p.CreationDate,@EndDate
Posts.CreationDate,@latest
d,CreationDate
OwnerUserID
object_id
dd,CreationDate,LastPostedDate
CreationDate as char(10)
b.Date
MigrationHistory.CreationDate
u.location
CreationDate as Date
a.creationdate,q.creationdate
C.Body
u.RealName
parentid
PostHistory.Comment AS int
t
BountyAmount
@Tag,Tags
m,q.creationdate,a.creationdate
CreationDate AS DATE
q.creationDate,a.creationDate
P.AnswerCount
function
u.CreationDate,p.CreationDate
flagtypeid
u.creationDate,a.creationDate
DATEDIFF(DAY, ClosedDate, GETDATE()) as FLOAT
d,question.creationdate
CloseAsOffTopicReasonTypeId
tagid
Week
f.CreationDate,l.CreationDate
dd,CreationDate,LastAccessDate
f.Score
LastAccessDate,##Today
p.CreationDate
TagBased
userId
Answer.Body
mdelay
d,lastaccessdate
Id
parentUser.CreationDate,p.CreationDate
AuditTypeId
a.CreationDate
mi,q.CreationDate,a.creationDate
userid
relfreq
row
rnk
ContACnt
Questions.CreationDate
Weight
posttypeid
@UserId
ClosedDate
DisplayName
BestAnswerScore
low
tags
body
U.LastAccessDate
N
c.text
question.CreationDate
yyyy,ClosedDate
NumberOfPosts
lastaccessdate
dd,p.CreationDate
latestpost
pp.body
t.loc
Comments.Text
Questions.CreationDate,Questions.ClosedDate
p.CreationDate,parentPost.CreationDate
Viewcount
STags.TagName
Users.location
c.creationdate
u.EmailHash
v.CreationDate
score
RowID
t2.TagName
tagbased
Posts.CreationDate,PostNotices.DeletionDate
pp.Title
NumBadges
p2.creationdate,p.creationdate
[User Link]
Posts.Tags
d,v.CreationDate,a.CreationDate
[Title]
Question.CreationDate
upvotes
owneruserId
CreationDate,LastAccessDate
yyyy,q.CreationDate
creationdate,lastaccessdate
[Last Favorite]
Age
p.Tags
p.[CreationDate],p.[ClosedDate]
"AnswerCount"
viewcount
y,u.CreationDate
bountyamount
RN
[# Posts]
comment
Name
value
QuestionAskYear
question.CreationDate,answer.CreationDate
target.tagname
parentId
DD,Posts.CreationDate,Votes.CreationDate
QCreationDate,p.CreationDate
OwnerUSerId
posts.creationdate,votes.creationdate
ACreationDate
p.tags
U.WebSiteUrl,P.Body
q.ClosedDate,a.CreationDate
dt
ReviewTaskTypeID
pe.Body
ss,Question.CreationDate,Answer.CreationDate
itemId
p.lasteditdate
AcceptedAnswers
@ClosedQs
PostID
q.AcceptedAnswerId
Users.Age
@MinScore
Posts.CreationDate,Votes.CreationDate
PostId
voteTypeID
dwnVt
UserID
AA.Body
answercount
PostTypeid
p.creationDate
DeletionDate AS char
d,q.creationdate,a.creationdate
p.title
ReviewTaskStateId
p1.Body
"m",CreationDate
PeriodID
yr
DD,q.CreationDate,a.creationDate
CreationDate as DATE
Posts
location
c.[text]
weeknumber
postHistoryTypeID
atags.tagname
date
Nq
QTimeBounty2Answer
Posts.ClosedDate
v.CreationDate,@endDate
Reputation
WebsiteURL
dw
mnth
rn
##agemonthsmax
LAD
unk
Answercount
Users.CreationDate,Users.LastAccessDate
postid
ph.Comment AS int
Post_Count
Row
SuggestedEditId
AccountId
Tagname
prev_rate
TagN
m,post.CreationDate
w.Body
datediff(week, CreationDate, '2015-03-18')as float
ptq.name
creationdate
text
down
c.CreationDate
acceptedAnswerId
Nquestions
LastEditorUserId
U.WebsiteUrl
u.DisplayName
Votes
DownVotes
[location]
a.CreationDate,u.CreationDate
QuestionTime
Badges.name
DATEPART(YYYY, p.CreationDate) as varchar
CreationDate
Views
QCreationDate,ACreationDate
chktags
hh,pv.creationdate,v.creationdate
userdisplayname
TagId
yyyy,Users.LastAccessDate
ss,s_prev.CreationDate,sev.CreationDate
VoteTypeId
a.Location
u.CreationDate,u.LastAccessDate
ans
AnswerNum
TAGS
tagname
p.CreationDate,hc.CreationDate
VoteTypeName
Displayname
[Rank]
field
Reput
CusterStatus
Table_Name
commentCount
TotalScore
q.creationdate
OBJECT_ID
p.CreationDate,@endDate
p.CreationDate,p.ClosedDate
W.Body
ph.Comment as varchar(5)
OwnerUserid
DATEPART(YYYY, CreationDate) as varchar
tags.tagname
Score
p.LastEditDate
ownerUserID
parent_post.creationdate,posts.creationdate
acceptedanswerid
DATEPART(MM, CreationDate) as varchar
[Question Views per Day]
LastActivityDate
u.lastaccessdate
m,Post.CreationDate
id,name
CAST(DATEPART(YYYY, p.CreationDate) AS varchar) + '-'
            + CAST(DATEPART(MM, p.CreationDate) AS varchar) + '-01' AS DATETIME
pl.RelatedPostId
ReviewTaskStateID
EmailHash
u.LastAccessDate
postCount
posts.creationdate
GetUTCDate() - c.CreationDate as int
Tagid
order_id
a.CreationDate,b.CreationDate
p.ParentId,p.Id
TYPE
mi,q.CreationDate,a.CreationDate
AScore
Title
Posts.CreationDate,Ans.CreationDate
answers.creationdate
a.CreationDate,u.LastAccessDate
YYYY,p.CreationDate
TotalPosts
lasteditdate
ApprovedByUserId
u.Location
dd,creationDate
U.CreationDate
d,p.closeddate
creationdate as date
tags as varchar(150)
postTypeId
 PostTypeId
Q.CreationDate
d,Users.LastAccessDate
mm,creationdate
users.location
p.creationdate,p2.creationdate
##Text
reviewtasktypeid
C.Text
registered
dd,[DATE]
numdirectimages
[Day]
a.Body
d,post.CreationDate
CreationMonth
reply.Text
AboutMe
PostTypeID
selfAnswer.Body
isanonymous
pcnt
u.AboutMe
TargetTagName
[Month]
TextClean
Comments.CreationDate
q.creationdate,a.creationdate
"dd",U2.CreationDate,P3.CreationDate
AT.Body
type
t.TagName
Deletiondate
tagName
PQ.CreationDate,ps.CreationDate
favoritecount
questioner.CreationDate,questions.CreationDate
q.ClosedDate
 VoteTypeId
m,Posts.CreationDate
TimeUntilNextComment_s
Posts.CreationDate,Comments.CreationDate
Pe.Body
ID as varchar(100)
pc.body
posthistorytypeid
Date
TotalUserPosts
Closed
us.WebsiteUrl
PostHistoryTypeID
LastAccessDate
A.Body
Users.AboutMe
q.CreationDate,p.CreationDate
aboutme
record_status
[Count]
upVotes
pw.Body
ownerUserId
Users.Id
posts.Body
POstTypeId
[Resp Aceita]
q.AnswerCount
"location"
t1.TagName
CountRank
UserDisplayName
[PostTypeId]
pta.name
yyyy,creationdate
@tag,Tags
Type
p.answercount
[Content]
rnq
DeletionDate
Upvotes
q.Body
Pw.Body
user_answers
FlagTypeId
p.CreationDate,pf.CreationDate
d,q.CreationDate
posts.creationDate as date
DATEDIFF(year, LastAccessDate, GETDATE()) AS inT
insert_timestamp
[CreationDate]
a.NAME
seq
parent.CreationDate,p.CreationDate
NAME
two_days_variable
Ratio
id
Users.CreationDate
ans.Body
AcceptedAnswerId
ph.text
dd,CreationDate
cu.displayname
CREATIONDATE
OwnerUserId
Text
usr.LastAccessDate
Aboutme
LinkScore
Posts.CreationDate,Users.CreationDate
TagID
downvotes
l.Score
PostCount
DownRatio
Level
a.Comment
u.websiteurl,p.body
ReviewTaskResultTypeId
v.CreationDate AS Date
c.Text
parentUser.CreationDate
@OpenQs
AU.Body
YYYY,b.Date
RelatedPostId
C.text
dd
LOCATION
database_id
is_primary_key
BadRec
displayname
Length
tagcount
CloseReasonTypeId
P.CREATIONDATE
LastEditorUserID
u.Email
[Reputation]
p.[Tags]
CommentCount
a.creationdate
ss,s_prev.creationdate,sev.creationdate
m
Users.Reputation
PostHistory.CreationDate
ID
dd,u.CreationDate
relationship
Answers.CreationDate
ViewCount
d,creationdate
p.CreationDate,@StartDate
qty
h.Comment
Record
BODY
[Text]
ParentId
TITLE
d,vob.CreationDate
RejectionCount
ph.creationdate
scoreSum
questions.creationdate
src.[end]
mm,CreationDate
Rank
Votes.CreationDate
Posts1.BODY
d,p.CreationDate
accountid
Monthli
numimages
Count
p.LastActivityDate
y,creationDate
p.Body
Post.Body
RowNo
[Comment]
JSON_VALUE(Text, '$.Voters[0].Id') AS inT
Value
u.CreationDate
q.tags
pq.CreationDate,pa.CreationDate
DD,CreationDate
lastactivitydate
m,u.CreationDate
p.body
NumberOfMerges
activedays
POSTTYPEID
[Total]
AutoRenameCount
votetypeid
Class
s,Votes.CreationDate,LastCloseDeleteRaw3.CreationDate
[Order Received]
dd,creationdate
OwnerDisplayName
Question
MaxScore
votes.creationdate
FavoriteCount
Posts.Title
answerScore
VoteTypeID
class
TagName
P.CreationDate
us.Location
YYYY,Posts.CreationDate
ExcerptPostId
answerCount
ph.Text
creationDate
p.creationdate
[text]
ph.UserId
"Percent"
Questions
dd,Posts.CreationDate,Votes.CreationDate
questionScore
SlsinvDate
DATEPART(MM, p.CreationDate) as varchar
post.creationdate
qcount
Question.Tags
WebsiteUrl
yy,CreationDate
Users.Location
Votetypeid
AVar
hh,u.CreationDate
SourceTagName
C.CreationDate
U.Location
P.Title
commentcount
v.creationdate
r
posts.title
Tags.TagName
u3.LastAccessDate,u1.LastAccessDate
dbName
p.AnswerCount
Posts.CreationDate
posts.CreationDate,datadumptime
emails
B.Date
bin
[Score]
Bountyamount
Total
[status]
dd,posts.creationdate
Questions.CreationDate,FirstAnswerDates.FirstAnswerDate
age
q.CreationDate,a.CreationDate
AAvg
Comment
p.ClosedDate
IsAnonymous
LastEditDate
[Body]
FirstDate
scoreDif
ZeroScore
questions.CreationDate,answers.CreationDate
d,v.CreationDate
users_tot
PosttypeId
wiki.Body
@Language,Q.Tags
Posts.Body
Upvote_Count
posts.tags
tagId
[PostHistoryTypeId]
b.Name
number
 PostHistoryTypeId
count
p1.tags
numVoters
Num
linktypeid
YYYY,CreationDate
sitedbname
UserId
cast(DATEPART(YYYY, CreationDate) as varchar) + '-' + cast(DATEPART(MM, CreationDate) as varchar) + '-01'
    as datetime
q.CreationDate
originalPosts.tags
MarkdownMini
"dd",LastAccessDate
qstRow
e.Body
mi,p4.CreationDate,p3.CreationDate
u.WebsiteUrl
Status
d,p.CreationDate,V.CreationDate
[Users].[Location]
u.Birthday
q.Score
CreationDate,@DataDumpDate
closeddate
Downvotes
Body
lasteditoruserid
Badges.Name
displayName
UpVotes
viewCount
dw,p.dt
userID
ProfileImageUrl
p.BODY
b.name
Posttypeid
websiteurl
reputation
PostTypeId
votecount
users.Location
p.CreationDate,v.CreationDate
postHistorytypeid
"yyyy",CreationDate
LinkTypeId
ClassId
name
P1.TAGS
d,PostsWithDeleted.CreationDate,Votes.CreationDate
Votes.CreationDate,@lastDate
@str
t.tagname
postTypeID
@StartTime,CreationDate
ParentID
yyyy,Posts.CreationDate
askedyr

In [87]:
pdf2 = pdf[pdf.table != "X"]
print(set(pdf2["table"]))
print(len(set(pdf2["table"])))

{nan, 'vup', 'uc', 'pAll', 'csh', 'c', 'Results', 'mdi', 'subqAllAnswers', 'Ups', 'o1', 'qtn', 'CSH', 'me', 'v', 'A2', 'Tags', 'AnswerPosts', 'counts', 'TagCount', 'hp', 'TotalAnswers', '[#CustomerStatusHistory]', 'A', 'uu', 'num', 'PostHistory', '[ph]', 'postsq', 'ya', 'v2', 'AT', 'AcceptedAnswer', 'pall', 'e', 'ph0', 'u3', 'p1', 'qc', 'PostsA', 'tag1', 'pg', 'answer', 'a2', 'temp', 't', 'W', 'pa2', 'se', 'QUESTIONS', 'CloseSide', 'function', 'queries', 'f', 'wdv', 'uv', 'Bins', 'qbt', 'wk', 'accepted', 'actor', 'yourAnswer', 'AcceptVote', 'ht', 'y', 'ReviewTaskTypes', 'Y', 'naa', 'pt', 'bt', 'PA', 'k', 'answ', '[p]', 'tags', 'N', 'reply', 'fu', 'USERS', 'DS', 's1', 'vt', 'ContQ', 'Del', 'UserQuestions', 'Pht', 'hello', 'PF', 'ptypes', 'pans', 'prev', 'PythonBadges', 'votetypes', 'su', 'ReopenSide', 'ANSWERS', 'V', 'B', 'allTheTags', 'pc', 'Pt', 'comment', 'tagsY', 'pm', 'data0', 'this', 'v0', 'tagsX', 'status_tag', 'rollbacks', 'E', 'p_a', 'Raw', 'AcceptedAnswers', 'i2', '[se]', 'btyStart', 'posts', 'acceptedanswers', 'TTT', 'pd', 'Users', 'BNi', 'tag2', '[A]', 'BoxedUser', 'aw', 'ph2', 'Posts', 'UndelHist', 'qh', 'COTRT', 'p2', 'AU', 'main', 'P2', 'BGr', 'PH', 'revTask', 'ptypes1', 'Comments', 'OpComments', 'phb', 'MyAnswers', 'vote3', 'edits', 'votes', 'edited', 'pa1', 'recent', 'ps', 'gVt', 'vs', 'T', 'prev_rate', 'AStats', 'PTT', 'totals', 'Col', 'pr', 'MovedToChat', 'down', 'Ph', 'rate', 'Myvotes', 'psts', 'o', 'ph1', 'myfavs', 'tt', 'Votes', 'bounty_end', 'ts', 'SOS', 'pho', 'posthistory', 'ppd', 'B2', 'ns', 'r1', 'ptype', 'APost', 'bd', 't_lang', 'dv', 'Wiki', 'AllPosts', 'ans', 'tmp', 'phis', 'closedanswers', 'U1', 'p4', 'ptssh', 'Ans', 'AP', 'question', 'vc', 'qu', 'PostHistoryTypes', 'AllHoldersBadges', 'l', 'Tag', 'Tot', 'VoteTypes', 'ianswers', 'P3', 'u1', 'subq', 'ptypes2', 'SuggestedEdits', 'agusers', 'ty2', 'postTags', 'aa', 'R', '"p"', 'answerVote', 'phc', 'betweenX', '[pt]', 'I', 'vote', 'pt2', 'hc', 'ph3', 'TagSynonyms', 'Aother', 'crt', 'PS', 'PostTypes', 'Parent', 'OuterUsers', 'closed', 'P', 'pl', 'pty', 'Qestions', 'qt', 'wiki', 'p3', 'Badges', 'posttags', 'g', 'orig', 'at', 'PendingFlags', 'dadn', 'type', 'ptypes3', 'Problems', 'userQ', 'allA', 'custHist', 'PostNoticeTypes', 'upr', 'pbt', 'reanswers', 'Excerpt', 'PPP', 'OtherVotes', 'dq', 'questionsY', 'perg', 'userA', 'qs', 'history', 'iv', 'n1', 'ss', 'ages', 'TagTotals', 'que', 'jonsAnswer', 'other', 'M', 'p_questions', 'voteTypes', 'p', 'ReviewTasks', 'data2', 'User1Answers', 'CloseHistory', 'opened', 'US', 'au', 'pf', 'APosts', 'SiteB', 'asbut', 'PL', 'SEV', 'L', 'h', 'ind', 'users', 'p5', 'btyEnd', 'sv', 'pwd', 'vcb', 'CurrentAmountsByMonth', 'Upvotes', 'pq', 'vob', 'n', 'O', 'sev', 'tg', 'DelHist', 'py', 'vv2', 'tags2', 'QStats', 'original', 'pv', 'userPosts', 'Foo', 'w', 'ta', 'DownRatio', 'BrokenLink', 'SuggestedEditVotes', 'pb', 'rt', 'T1', 'c2', 'pp', 'base', 'Down', 'd', 'ftm', 'Up', 'OtherLink', 'ba', 'Undel', 'fqt', 'tcs', 'dbo', 'sq', 'm', 'v4', 'tuser', 'questions', 'Raw3', 'acp', 'answerer', 'pht', 't2', 'tags1', 'ex', 'phtwo', 't1', 'POSTS', 'Vba', 'Pf', 'pl2', 'SPS', 'selfAnswer', 'vo', 'p_wiki', 'Answerers', 'ph', 'a', 'aPosts', 'myA', 'PostLinks', 'sql', 'Problem', 'dbs', 'tb', 'cs', 'pt1', 'RubyBadges', 'b', 'H', 'UserTopTagScore', 'ah', 'director', 'excerpt', 'pw', 't_dbname', 'Cxr', 'pExcerpt', 'Usr', 'Question', 'UsersData', 'pendingflags', 'S', 'vdt', 'PT', 'v_close', 'up', 'answerCount', 'uds', 'ua', 'PostTags', 'stats', 'Questions', 'QuestionPost', 'badges', 'Q', 'v1', 'UnluckyAnswer', 'tag', 't3', 'BGo', 'Excerpts', 'YourAnswer', 'requestions', 'iquestions', 'USers', 'r', 's', 'voters', 'i', 'b1', 'u', 'p_excerpt', 'pQ', 'FirstQuestions', 'dl', 'U2', 'answers', 'rtr', 'Comment', 'MyP', 'Pty', 'u2', 'qPosts', 'UserTagScore', 'pn', 'Posts1', 'pa', 'childPost', 'tagScores', 'PenalizedUser', 'UserQuestionCount', 'PostsWithDeleted', 'v_open', 'TagBadges', 'Post', 'pP', 'p2v', 'myAnswer', 'SiteA', 'Answers', 'data1', 'pnt', 'comments', 'Vote3', 'n2', 'rf', 'User2Answers', 'AA', 'PostHIstory', 'YA', 'VT', 'resp', 'ma', 'Vt', 'PHT', 'q', 'questao', 'Pergunta', 'ShortLinkAnswers', 'Tg', 'questionsX', 'MigrationHistory', 'vv1', 'ty', 'u4', 'U', 'x', 'PostsQ', 'Downvotes', 'parent', 'ianswerer', 'p6', 'posttypes', '[u]', 'PostFeedback', 'us', 'po', 'ap', 'SV', 'post', 'Answer', 'C', 'UnDel', 'P1', 'RT', 'A1', 'apt', 'QT'}
495

In [88]:
pdf2.groupby(["table", "qid"])["col"].nunique().reset_index().sort_values(by="col", ascending=False)["col"].describe(
                                    percentiles=[0.75,0.90,0.99])

count    48325.000000
mean         1.207926
std          0.509182
min          1.000000
50%          1.000000
75%          1.000000
90%          2.000000
99%          3.000000
max          8.000000
Name: col, dtype: float64

In [89]:
pd.set_option('display.max_rows', 500)
pdf2.head(100)

,left,table,col,op,val,qid,dtype,dkind,likedtype,likekind,discrete_ops,in_ops,cont_ops,like_ops
0,tcs.CusterStatus,tcs,CusterStatus,=,'Active',0,string,eq,-1,-1,1.0,0.0,0.0,0.0
0,posts.ViewCount,posts,ViewCount,>,10000,2,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,Posts.CreationDate,Posts,CreationDate,<,'2010-01-01',3,-1,-1,-1,-1,0.0,0.0,1.0,0.0
1,Posts.CreationDate,Posts,CreationDate,>,'2010-02-01',3,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,answer.PostTypeId,answer,PostTypeId,=,2,4,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,question.Score,question,Score,<,25,4,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,Votes.VoteTypeId,Votes,VoteTypeId,=,9,6,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,Tags.TagName,Tags,TagName,=,'##Tag##',7,string,eq,-1,-1,1.0,0.0,0.0,0.0
4,A.CreationDate,A,OwnerUserId,>,'2016-01-01',7,num,in,-1,-1,1.0,1.0,0.0,0.0
5,A.OwnerUserId,NaN,NaN,in,"(\n 209103, -- puf\n 394010, -- katowulf...",7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,iquestions.posttypeid,iquestions,posttypeid,=,1,10,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,ianswers.posttypeid,ianswers,posttypeid,=,2,10,num,eq,-1,-1,1.0,0.0,0.0,0.0
2,answerer.reputation,answerer,reputation,between,-1,10,-1,-1,-1,-1,0.0,0.0,1.0,0.0
3,requestions.posttypeid,requestions,posttypeid,=,1,10,num,eq,-1,-1,1.0,0.0,0.0,0.0
4,reanswers.posttypeid,reanswers,posttypeid,=,2,10,num,eq,-1,-1,1.0,0.0,0.0,0.0
8,reanswers.owneruserid,NaN,NaN,in,"( \nselect answerer.id from\n tags invented, ...",10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,and,NaN,NaN,between,-1,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,LOWER(Location),function,,like,'%india%',11,-1,-1,unknown,contains,0.0,0.0,0.0,1.0
1,UPPER(Location),function,,like,'%SG',11,-1,-1,short,ends,0.0,0.0,0.0,1.0
0,t.TagName,t,TagName,=,'python',15,string,eq,-1,-1,1.0,0.0,0.0,0.0
1,ty.Name,ty,Name,=,'Question',15,string,eq,-1,-1,1.0,0.0,0.0,0.0
2,GETDATE(),function,,<,"DateAdd(day, 7, p.CreationDate)",15,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,posts.postTypeId,posts,postTypeId,=,1,18,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,posts.tags,posts,tags,=,'[magic-the-gathering]',18,string,eq,-1,-1,1.0,0.0,0.0,0.0
0,Posts.Id,Posts,Id,=,537597,20,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,Posts.AnswerCount,Posts,AnswerCount,between,-1,22,-1,-1,-1,-1,0.0,0.0,1.0,0.0
1,Posts.AcceptedAnswerId,Posts,AcceptedAnswerId,>,0,22,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,Posts.PostTypeId,Posts,PostTypeId,=,1,31,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,Tags.Tagname,Tags,Tagname,=,'bazel',31,string,eq,-1,-1,1.0,0.0,0.0,0.0
2,Tags.Tagname,Tags,Tagname,!=,'tensorflow',31,string,neq,-1,-1,1.0,0.0,0.0,0.0
6,Posts.AnswerCount,NaN,NaN,=,0,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Badges.Name,Badges,Name,=,'Legendary',33,string,eq,-1,-1,1.0,0.0,0.0,0.0
0,p.PostTypeId,p,PostTypeId,=,2,36,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,a.postTypeId,a,postTypeId,=,2,39,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,a.CreationDate,a,CreationDate,<=,"DATEADD(day, -10, GETDATE())",39,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,Tags.TagName,Tags,TagName,=,'websphere-liberty',40,string,eq,-1,-1,1.0,0.0,0.0,0.0
1,Posts.CreationDate,Posts,CreationDate,between,-1,40,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,P.Tags,P,Tags,like,'%##TagName##%',41,-1,-1,unknown,contains,0.0,0.0,0.0,1.0
1,P.CreationDate,P,CreationDate,<,"DateAdd(day, 30, @FromDate)",41,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,u.Id,u,Id,in,(\n select Id\n from Users \n where L...,45,sql,in,-1,-1,1.0,1.0,0.0,0.0
1,pp.Tags,pp,Tags,like,('%<scala>%'),45,-1,-1,unknown,contains,0.0,0.0,0.0,1.0
0,b.name,b,name,=,'java',46,string,eq,-1,-1,1.0,0.0,0.0,0.0
1,u.Location,u,Location,like,'%United Kingdom%',46,-1,-1,-1,contains,0.0,0.0,0.0,1.0
0,Questions.CreationDate,Questions,CreationDate,>,"convert(datetime, '01/01/2012', 101)",48,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,Q.CreationDate,Q,CreationDate,>,"DateAdd(m, -1, GETDATE())",52,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,p.CreationDate,p,CreationDate,>,'2020-01-01',53,-1,-1,-1,-1,0.0,0.0,1.0,0.0
1,p.Score,p,Score,>,0,53,-1,-1,-1,-1,0.0,0.0,1.0,0.0
2,p.Title,p,Title,like,'%Naruto%',53,-1,-1,unknown,contains,0.0,0.0,0.0,1.0
0,a.PostTypeId,a,PostTypeId,=,2,56,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,a.Score,a,Score,>=,1,56,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,a.postTypeId,a,postTypeId,=,2,59,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,a.CreationDate,a,CreationDate,<=,"DATEADD(day, 0, GETDATE())",59,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,a.PostTypeId,a,PostTypeId,=,2,62,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,a.postTypeId,a,postTypeId,=,2,64,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,a.CreationDate,a,CreationDate,<=,"DATEADD(day, -10, GETDATE())",64,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,q.PostTypeId,q,PostTypeId,=,1,65,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,q.ViewCount,q,ViewCount,>,100,65,-1,-1,-1,-1,0.0,0.0,1.0,0.0
2,c.Text,c,Text,like,'%thanks%',65,-1,-1,unknown,contains,0.0,0.0,0.0,1.0
3,LEN(c.Text),function,c.Text,>=,150,65,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,C.Score,C,Score,>,0,66,-1,-1,-1,-1,0.0,0.0,1.0,0.0
3,(\n\t\t\tselect count(B.Id) \n\t\t\tfrom Posts...,function,function,>,0,66,-1,-1,-1,-1,0.0,0.0,1.0,0.0
5,(\n\t\t\tselect count(C.Id)\n\t\t\tfrom Posts ...,NaN,NaN,=,0,66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,LOWER(Location),function,,like,LOWER('bangalore'),73,-1,-1,unknown,no%,0.0,0.0,0.0,1.0
0,Len(Body),function,,=,42,77,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,p.Id,p,Id,=,12508585,78,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,Posts.PostTypeId,Posts,PostTypeId,=,1,80,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,Posts.CreationDate,Posts,CreationDate,>,'2015-01-01',80,-1,-1,-1,-1,0.0,0.0,1.0,0.0
2,Posts.Score,Posts,Score,>,30,80,-1,-1,-1,-1,0.0,0.0,1.0,0.0
3,Tags.TagName,Tags,TagName,=,'azure',80,string,eq,-1,-1,1.0,0.0,0.0,0.0
0,Len(Title),function,Title,<,32,82,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,a.Name,a,Name,=,'Question',83,string,eq,-1,-1,1.0,0.0,0.0,0.0
0,post.Id,post,Id,=,2140,84,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,y.type,y,type,=,'P',85,string,eq,-1,-1,1.0,0.0,0.0,0.0
1,y.number,y,number,>=,2006,85,-1,-1,-1,-1,0.0,0.0,1.0,0.0
2,m.type,m,type,=,'P',85,string,eq,-1,-1,1.0,0.0,0.0,0.0
3,m.number,m,number,>=,1,85,-1,-1,-1,-1,0.0,0.0,1.0,0.0
4,m.number,m,number,<=,12,85,-1,-1,-1,-1,0.0,0.0,1.0,0.0
5,t.tagname,t,tagname,in,"( 'sql-server', 'oracle', 'mysql', 'postgresql...",85,string,in,-1,-1,1.0,1.0,0.0,0.0
0,"coalesce(len(pe.Body),0)",function,,=,0,88,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,A.Score,A,Score,>=,1,90,-1,-1,-1,-1,0.0,0.0,1.0,0.0
1,A.PostTypeId,A,PostTypeId,=,2,90,num,eq,-1,-1,1.0,0.0,0.0,0.0
2,C.Text,C,Text,like,'%more information%',90,-1,-1,-1,contains,0.0,0.0,0.0,1.0
3,C.Text,C,Text,like,'%an you%',90,-1,-1,-1,contains,0.0,0.0,0.0,1.0
4,P.PostTypeId,P,PostTypeId,=,1,90,num,eq,-1,-1,1.0,0.0,0.0,0.0
7,P.Id,NaN,NaN,not in,(\n SELECT A.ParentID FROM Posts AS A\n ...,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Pergunta.PostTypeId,Pergunta,PostTypeId,=,1,92,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,v.VoteTypeId,v,VoteTypeId,=,2,93,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,PostHistory.UserId,PostHistory,UserId,in,"(209103, 4625829, 5637321, 5996134)",96,num,in,-1,-1,1.0,1.0,0.0,0.0
1,PostHistory.CreationDate,PostHistory,CreationDate,>,'2016-01-01',96,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,LOWER(Name),function,Name,in,('java'),99,string,in,-1,-1,1.0,1.0,0.0,0.0
2,PostTypes.Name,PostTypes,Name,=,'Question',99,string,eq,-1,-1,1.0,0.0,0.0,0.0
3,PostTypes.Name,PostTypes,Name,=,'Answer',99,string,eq,-1,-1,1.0,0.0,0.0,0.0
4,LOWER(Location),function,,like,'%london%',99,-1,-1,unknown,contains,0.0,0.0,0.0,1.0
1,U.Id,U,Id,=,2009616,102,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,p.PostTypeId,p,PostTypeId,=,1,106,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,p.Score,p,Score,<,1,106,-1,-1,-1,-1,0.0,0.0,1.0,0.0
2,p.AnswerCount,p,AnswerCount,=,0,106,num,eq,-1,-1,1.0,0.0,0.0,0.0
3,U.LastAccessDate,U,LastAccessDate,<,"DATEADD(month, -24, GETDATE())",106,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,Answers.Score,Answers,Score,>,0,109,-1,-1,-1,-1,0.0,0.0,1.0,0.0
1,Posts.Score,Posts,Score,>,0,109,-1,-1,-1,-1,0.0,0.0,1.0,0.0

In [90]:
pdf2.groupby(["table", "qid"])["col"].nunique().reset_index().sort_values(by="col", ascending=False)

            table    qid  col
23073    function  30456    8
40790           q  57705    6
40198           q  32748    6
41359           q  81875    6
39920           q  21505    6
...           ...    ...  ...
18007           d  25890    1
18008           d  26714    1
18009           d  30783    1
18011           d  39438    1
48324  yourAnswer  76498    1

[48325 rows x 3 columns]

# TODO:

#### More columns being filtered (tails) on BUT within a column ---- fewer categorical values being hit
#### discrete_type: num vs string
#### cont dtypes: range vs leq vs geq

In [91]:
pdf.groupby("op").count()["qid"]

op
!=            568
<            7646
<=           2780
<>           1214
=           93323
>           14509
>=           6438
between      1218
in           9267
like        41662
not in        517
not like     4972
Name: qid, dtype: int64