In [ ]:
import sqlparse
from sqlparse.sql import IdentifierList, Identifier
from sqlparse.tokens import Keyword, DML
import os
import pandas as pd
from collections import defaultdict

from IPython.display import HTML
from IPython.display import display_html


%load_ext autoreload
%autoreload 2

import sys
sys.path.append("..")
from utils.utils import *

In [ ]:
import networkx as nx
from networkx.readwrite import json_graph
import pickle

def load_sql_rep(fn, dummy=None):
    assert ".pkl" in fn
    try:
        with open(fn, "rb") as f:
            query = pickle.load(f)
    except Exception as e:
        print(e)
        print(fn + " failed to load...")
        exit(-1)

    query["subset_graph"] = \
            nx.OrderedDiGraph(json_graph.adjacency_graph(query["subset_graph"]))
    query["join_graph"] = json_graph.adjacency_graph(query["join_graph"])
    if "subset_graph_paths" in query:
        query["subset_graph_paths"] = \
                nx.OrderedDiGraph(json_graph.adjacency_graph(query["subset_graph_paths"]))

    return query

In [ ]:

#QDIR = "./queries/tpcds/all"
#QDIR = "queries/job/all_job/sqls/all_job"
#QDIR = "ceb-unique-sqls"

#WK = "tpcds1"
#WK = "tpch1"
#WK = "tpcds"
#WK = "job"
WK = "ceb"

#WK = "tpch"
#WK = "stack"

WORKLOADS = {}
WORKLOADS["stack"] = "../scraping-queries/sqls"
WORKLOADS["tpcds"] = "../data/tpcds/all/"
WORKLOADS["tpcds1"] = "../data/tpcds1/all/"
WORKLOADS["tpch"] = "../data/tpch/all/"
WORKLOADS["tpch1"] = "../data/tpch1/all/"
WORKLOADS["job"] = "../data/job/all_job/sqls"
WORKLOADS["ceb"] = "../data/ceb-all/sqls"

QDIR = WORKLOADS[WK]
OUTPATH = os.path.join(QDIR, "dfs")

make_dir(OUTPATH)

#QDIR = "../scraping-queries/sqls"
#QDIR = "../data/job/all_job/sqls"
#QDIR = "../data/tpcds/all/"

COL_TABLES_FN = {}
COL_TABLES_FN["tpcds"] = "../data/tpcds/tpcds.sql"
COL_TABLES_FN["tpcds1"] = "../data/tpcds/tpcds.sql"
COL_TABLES_FN["tpch"] = "../data/tpch/tpch.sql"
COL_TABLES_FN["tpch1"] = "../data/tpch/tpch.sql"

#TPCDS_TABLES=
COLS_TO_TABLES = {}

In [361]:
if "tpc" in QDIR:
    CTABLES = COL_TABLES_FN[WK]
    with open(CTABLES) as f:
        tdata = f.readlines()

    for li, line in enumerate(tdata):
        #print(line)
        line = line.lower()
        if "create table" in line:
            #print(line)
            vals = line.split(" ")
            #print("table: ", vals[2])
            table = vals[2].replace("\n", "")

            for i in range(1000):
                cline = tdata[li+i]
                cline = cline.lower()
                cline = cline.lstrip()
                print(cline)

                if "create table" in cline or "primary key" in cline:
                    continue
                vals = cline.split(" ")
                col = vals[0]

                if not (")" in col or "(" in col or col == ""):
                    if col in COLS_TO_TABLES:
                        print("?>>???")
                        print(col)
                    assert col not in COLS_TO_TABLES   
                    COLS_TO_TABLES[col] = table

                if ")" in cline and "," not in cline:
                    break

In [362]:
print(COLS_TO_TABLES)

{}

In [363]:
for k,v in COLS_TO_TABLES.items():
    if "tpch.dbo" in v:
        COLS_TO_TABLES[k] = v.replace("tpch.dbo.", "")

In [364]:
qdict = {}
qfns = []
QREP_DIR = QDIR.replace("sqls", "")
if WK in ["job", "ceb"]:
    qfns = os.listdir(QREP_DIR)
    for fn in qfns:
        qfn = os.path.join(QREP_DIR, fn)
        if ".pkl" in qfn:
            qdict[fn] = load_sql_rep(qfn)

/tmp/ipykernel_285756/1110685569.py:16: DeprecationWarning: OrderedDiGraph is deprecated and will be removed in version 3.0.
Use `DiGraph` instead, which guarantees order is preserved for
Python >= 3.7

  nx.OrderedDiGraph(json_graph.adjacency_graph(query["subset_graph"]))

In [365]:
FNS = os.listdir(QDIR)

In [366]:
sqls = []
qreps = []

for fi, fn in enumerate(FNS):
    if ".sql" not in fn:
        continue
    if "all" in fn:
        continue
    
    fnkey = fn.replace(".sql", ".pkl")
    qreps.append(qdict[fnkey])
        
    fn = os.path.join(QDIR, fn)
    with open(fn, "r") as f:
        sql = f.read()

    sql = sql.replace("IN", "in")
    sql = sql.replace("In", "in")
    sql = sql.replace("ILIKE", "like")
    sql = sql.replace("LIKE", "like")
    
    #sql = sql.replace("ILIKE", "like")
    #sql = sql.replace("LIKE", "like")
    if "return_rank" in sql:
        print(sql)
    sqls.append(sql)

In [367]:
print(len(sqls), len(qreps))

3133 3133

In [368]:
for i, sql in enumerate(sqls):
    sql = sql.replace("IN", "in")
    sql = sql.replace("In", "in")
    sql = sql.replace("ILIKE", "like")
    sql = sql.replace("LIKE", "like")
    sqls[i] = sql

In [369]:
len(sqls)

3133

In [370]:
sql = sqls[18]

In [371]:
print(sql)

SELECT n.gender, rt.role, cn.name, COUNT(*)
FROM title as t,
movie_companies as mc,
company_name as cn,
company_type as ct,
kind_type as kt,
cast_info as ci,
name as n,
role_type as rt,
movie_info as mi1,
info_type as it1,
person_info as pi,
info_type as it2
WHERE t.id = mc.movie_id
AND t.id = ci.movie_id
AND t.id = mi1.movie_id
AND mi1.movie_id = ci.movie_id
AND ci.movie_id = mc.movie_id
AND cn.id = mc.company_id
AND ct.id = mc.company_type_id
AND kt.id = t.kind_id
AND ci.person_id = n.id
AND ci.role_id = rt.id
AND mi1.info_type_id = it1.id
AND n.id = pi.person_id
AND pi.info_type_id = it2.id
AND ci.person_id = pi.person_id
AND (kt.kind in ('episode','movie','tv mini series','tv movie','tv series','video game','video movie'))
AND (rt.role in ('director','guest','production designer'))
AND (t.production_year <= 1990)
AND (t.production_year >= 1945)
AND (it1.id in ('8'))
AND (mi1.info like '%v%')
AND (pi.info like '%aug%')
AND (it2.id in ('21'))
GROUP BY n.gender, rt.role, cn.name
ORDER BY COUNT(*) DESC

In [372]:
#opdf,exprdf = parse_sqls_single([sql], 0, COLS_TO_TABLES)
#opdf
parse_sql_preds(sql)

,op,dtype,optype,constant,input,column,opstring,is_id
0,=,string,in,'episode',kt,kind,"kt.kind in ('episode','movie','tv mini series'...",0
1,=,string,in,'movie',kt,kind,"kt.kind in ('episode','movie','tv mini series'...",0
2,=,string,in,'tv mini series',kt,kind,"kt.kind in ('episode','movie','tv mini series'...",0
3,=,string,in,'tv movie',kt,kind,"kt.kind in ('episode','movie','tv mini series'...",0
4,=,string,in,'tv series',kt,kind,"kt.kind in ('episode','movie','tv mini series'...",0
5,=,string,in,'video game',kt,kind,"kt.kind in ('episode','movie','tv mini series'...",0
6,=,string,in,'video movie',kt,kind,"kt.kind in ('episode','movie','tv mini series'...",0
7,=,string,in,'director',rt,role,"rt.role in ('director','guest','production des...",0
8,=,string,in,'guest',rt,role,"rt.role in ('director','guest','production des...",0
9,=,string,in,'production designer',rt,role,"rt.role in ('director','guest','production des...",0
10,<=,cont,cont,1990,t,production_year,t.production_year <= 1990,0
11,>=,cont,cont,1945,t,production_year,t.production_year >= 1945,0
12,=,string,in,'8',it1,id,it1.id in ('8'),0
13,LIKE,short,contains,'%v%',mi1,info,mi1.info like '%v%',0
14,LIKE,unknown,contains,'%aug%',pi,info,pi.info like '%aug%',0
15,=,string,in,'21',it2,id,it2.id in ('21'),0

In [376]:
start = time.time()
opdf,exprdf = parse_sqls_par(sqls, COLS_TO_TABLES)
print("parse sqls took: ", int(time.time()-start))
print("Num Ops: ", len(opdf), "Num Expressions: ", len(exprdf))

number of sql groups:  4
finished parsing batch:  3 in :  3 fails:  0
finished parsing batch:  0 in :  22 fails:  0
finished parsing batch: in :  2  22 fails:  0
finished parsing batch:  1 in :  22 fails:  0
parse sqls took:  23
Num Ops:  79652 Num Expressions:  24605

In [380]:
if len(qreps) != 0:
#     for jid in set(exprdf["jobid"]):
#         qrep = qreps[int(jid)]
#         sql = sqls[int(jid)]
#         assert qrep["sql"].lower() == sql.lower()
#         tmp = exprdf[exprdf.jobid == jid]

    rowcounts = []
    totals = []
    sels = []
    
    for _,row in exprdf.iterrows():
        jid = row["jobid"]
        qrep = qreps[int(jid)]
        sql = sqls[int(jid)]
        try:
            cards = qrep["subset_graph"].nodes()[tuple([row["alias"],])]["cardinality"]
            rowcounts.append(cards["actual"])
            totals.append(cards["total"])
            sels.append(min(float(cards["actual"]) / cards["total"], 1.0))
        except:
            rowcounts.append(-1)
            totals.append(-1)
            sels.append(-1)

In [381]:
if len(qreps) == 0:
    exprdf["InputCardinality"] = -1
    exprdf["RowCount"] = -1
    exprdf["Selectivity"] = -1
else:
    exprdf["InputCardinality"] = totals
    exprdf["Selectivity"] = sels
    exprdf["RowCount"] = rowcounts

In [382]:
exprdf["Selectivity"].describe()

count    24605.000000
mean         0.115482
std          0.561440
min         -1.000000
25%          0.008850
50%          0.083333
75%          0.428571
max          1.000000
Name: Selectivity, dtype: float64

In [383]:
exprdf["filtersql"].values

array(["SELECT COUNT(*) from it AS it1 WHERE it1.id = '3'",
       'SELECT COUNT(*) from t AS t WHERE t.production_year <= 1975 AND 1875 < t.production_year',
       "SELECT COUNT(*) from mi AS mi2 WHERE mi2.info in ('Dutch','English','Finnish','German','Korean','Spanish','Tagalog')",
       ...,
       "SELECT COUNT(*) from rt AS rt WHERE rt.role in ('actor','actress')",
       "SELECT COUNT(*) from mi AS mi1 WHERE mi1.info in ('90')",
       'SELECT COUNT(*) from mii AS mii2 WHERE mii2.info::float <= 11.0 AND 7.0 <= mii2.info::float'],
      dtype=object)

In [384]:
if "stack" in WK:
    opdf["opstring"] = -1

In [385]:
exprdf.head(5)

,filtersql,jobid,input,alias,exprhash,unique_filter_cols,discrete_ops,cont_ops,like_ops,is_id,num_unique_ops,num_ops,num_discrete_consts,num_likes,like_lens,InputCardinality,Selectivity,RowCount
0,SELECT COUNT(*) from it AS it1 WHERE it1.id = '3',0,it,it1,201247606223691005679595717410545984913115377236,1,1,0,0,0,1,1,1,0,0,113,0.008850,1
1,SELECT COUNT(*) from t AS t WHERE t.production...,0,t,t,1352542446783672726478099788649831742465084335914,1,0,1,0,0,2,2,0,0,0,1053501,0.428637,451569
2,SELECT COUNT(*) from mi AS mi2 WHERE mi2.info ...,0,mi,mi2,1445181067565615963714989244604800786123047056644,1,1,0,0,0,1,7,7,0,0,6166815,0.158619,978172
3,SELECT COUNT(*) from it AS it2 WHERE it2.id = '4',0,it,it2,550750175548628326687047941186800664069875408065,1,1,0,0,0,1,1,1,0,0,113,0.008850,1
4,SELECT COUNT(*) from n AS n WHERE n.gender in ...,0,n,n,1412706111350165054529954383171903240337882399016,1,1,0,0,0,1,1,1,0,0,1739579,1.000000,1739579

In [386]:
print(opdf["is_id"].mean())
print(exprdf["is_id"].mean())

0.0
0.0

In [387]:
set(opdf["column"])

{'country_code',
 'gender',
 'id',
 'info',
 'info::float',
 'keyword',
 'kind',
 'name',
 'name_pcode_cf',
 'name_pcode_nf',
 'note',
 'production_year',
 'role',
 'surname_pcode',
 'title'}

In [388]:
if "stack" in WK:
    opdf = opdf[~opdf["input"].isin(["X", "function"])] 
    opdf["inplen"] = opdf.apply(lambda x: len(x["input"]) ,axis=1)
    opdf = opdf[opdf["inplen"] >= 4]
   
    exprdf = exprdf[~exprdf["input"].isin(["X", "function"])]
    exprdf["inplen"] = exprdf.apply(lambda x: len(x["input"]) ,axis=1)
    exprdf = exprdf[exprdf["inplen"] >= 4]

In [389]:
print("a" in set(opdf["input"]))

False

In [390]:
opdf["workload"] = WK
exprdf["workload"] = WK
opdf["db"] = WK
exprdf["db"] = WK

import time
start = time.time()

opfn = os.path.join(OUTPATH, "op_df.csv")
exprfn = os.path.join(OUTPATH, "expr_df.csv")

opdf.to_csv(opfn, index=False)
print("opdf to csv took: ", time.time()-start)

exprdf.to_csv(exprfn, index=False)

opdf to csv took:  0.7543506622314453

In [391]:
# opdf = opdf[opdf.input != "function"]
# opdf = opdf[opdf.input != "X"]
# exprdf = exprdf[exprdf.input != "function"]
# exprdf = exprdf[exprdf.input != "X"]
# print(len(opdf), len(exprdf))

In [356]:
exprdf.keys()

Index(['filtersql', 'jobid', 'input', 'alias', 'exprhash',
       'unique_filter_cols', 'discrete_ops', 'cont_ops', 'like_ops', 'is_id',
       'num_unique_ops', 'num_ops', 'num_discrete_consts', 'num_likes',
       'like_lens', 'InputCardinality', 'RowCount', 'Selectivity', 'workload',
       'db'],
      dtype='object')

In [357]:
opdf

,op,dtype,optype,constant,input,column,opstring,is_id,jobid,discrete_ops,cont_ops,like_ops,alias,exprhash,workload,db
0,=,string,=,'[us]',cn,country_code,cn.country_code = '[us]',0,0,1,0,0,cn,246246936916533429215669744677299380179211065442,job,job
1,=,string,=,'YouTube',cn,name,cn.name = 'YouTube',0,0,1,0,0,cn,246246936916533429215669744677299380179211065442,job,job
2,=,date,=,'release dates',it,info,it1.info = 'release dates',0,0,1,0,0,it1,201247606223691005679595717410545984913115377236,job,job
3,LIKE,num,3%,'%(200%)%',mc,note,mc.note like '%(200%)%',0,0,0,0,1,mc,1410753861686468872758163449862451826864997888115,job,job
4,LIKE,unknown,contains,'%(worldwide)%',mc,note,mc.note like '%(worldwide)%',0,0,0,0,1,mc,1410753861686468872758163449862451826864997888115,job,job
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1124,=,string,=,'rating',it,info,it2.info = 'rating',0,112,1,0,0,it2,1044850558769340704885184429602467397350107464301,job,job
1125,=,string,in,'Horror',mi,info,"mi.info in ('Horror',\n 'Thri...",0,112,1,0,0,mi,1425159986380809554144217888527206042206256450429,job,job
1126,=,string,in,'Thriller',mi,info,"mi.info in ('Horror',\n 'Thri...",0,112,1,0,0,mi,1425159986380809554144217888527206042206256450429,job,job
1127,>,cont,cont,'8.0',mi_idx,info,mi_idx.info > '8.0',0,112,0,1,0,mi_idx,788681035961215256139748819327589269367661515117,job,job
1128,=,string,=,'f',n,gender,n.gender = 'f',0,112,1,0,0,n,3205859187781297671721958067885810330225671198,job,job

In [358]:
tmp = opdf[opdf.input == "date_dim"]
tmp = tmp[tmp.column == "d_year"]
tmp["opstring"].values

array([], dtype=object)

In [359]:
print(set(opdf["input"]))
tmp = opdf[opdf.input == "X"]
tmp

{'cct', 't', 'it', 'chn', 'mi', 'cn', 'mi_idx', 'ci', 'k', 'n', 'ct', 'kt', 'rt', 'an', 'lt', 'mc', 'pi'}

Empty DataFrame
Columns: [op, dtype, optype, constant, input, column, opstring, is_id, jobid, discrete_ops, cont_ops, like_ops, alias, exprhash, workload, db]
Index: []

In [115]:
tmp = opdf[opdf.input == "function"]
tmp

,op,dtype,optype,constant,input,column,opstring,is_id,alias,jobid,discrete_ops,cont_ops,like_ops,exprhash,workload,db
6,<,cont,cont,0.9,function,function,"CAST(curr_yr.sales_cnt AS DECIMAL(17,2))/CAST(...",0,function,1,0,1,0,1194532054064400545969806492337960065944989809790,tpcds1,tpcds1
730,>,cont,cont,0,function,ws_qty,"coalesce(ws_qty,0)>0",0,function,50,0,1,0,352837534879430309755480276310447356833318897879,tpcds1,tpcds1
731,>,cont,cont,0,function,cs_qty,"coalesce(cs_qty, 0)>0",0,function,50,0,1,0,352837534879430309755480276310447356833318897879,tpcds1,tpcds1
871,>,cont,cont,0,function,function,(select count(*) as item_cnt\n from ite...,0,function,62,0,1,0,252541091547047920800273679976417847466813740638,tpcds1,tpcds1
879,>,cont,cont,1.2,function,function,(case when household_demographics.hd_vehicle_c...,0,function,64,0,1,0,481438817707749151144581095624954386821796428176,tpcds1,tpcds1

In [116]:
HTML(print_sql(sqls[59]))

NameError: name 'print_sql' is not defined

In [117]:
exprdf

,filtersql,jobid,input,alias,exprhash,unique_filter_cols,discrete_ops,cont_ops,like_ops,is_id,num_unique_ops,num_ops,num_discrete_consts,num_likes,like_lens,InputCardinality,RowCount,Selectivity,workload,db
0,SELECT COUNT(*) from item AS item WHERE item.i...,0,item,item,517422146408463513815778048196473408336958381784,1,1,0,0,1,1,1,1,0,0,-1,-1,-1,tpcds1,tpcds1
1,SELECT COUNT(*) from date_dim AS dt WHERE dt.d...,0,date_dim,dt,29594945970962246921075871724351446026691359122,2,1,0,0,0,1,2,2,0,0,-1,-1,-1,tpcds1,tpcds1
2,SELECT COUNT(*) from item AS item WHERE i_cate...,1,item,item,998969870485521328211605389720286787946524716786,1,1,0,0,0,1,1,1,0,0,-1,-1,-1,tpcds1,tpcds1
3,SELECT COUNT(*) from date_dim AS prev_yr WHERE...,1,date_dim,prev_yr,178771763793593387571164803369789816043736116950,1,1,0,0,0,1,1,1,0,0,-1,-1,-1,tpcds1,tpcds1
4,SELECT COUNT(*) from date_dim AS curr_yr WHERE...,1,date_dim,curr_yr,647632923169289817705511262092897855780512323282,1,1,0,0,0,1,1,1,0,0,-1,-1,-1,tpcds1,tpcds1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,SELECT COUNT(*) from store AS store WHERE stor...,101,store,store,184923325528354915412726819781338469089469494814,1,1,0,0,0,1,2,2,0,0,-1,-1,-1,tpcds1,tpcds1
258,SELECT COUNT(*) from date_dim AS date_dim WHER...,101,date_dim,date_dim,186590921360564454790375181920702142137017326247,2,1,1,0,0,3,5,3,0,0,-1,-1,-1,tpcds1,tpcds1
259,SELECT COUNT(*) from household_demographics AS...,101,household_demographics,household_demographics,880856604257465718987508440744238290871003793595,2,1,0,0,0,1,2,2,0,0,-1,-1,-1,tpcds1,tpcds1
260,SELECT COUNT(*) from date_dim AS d WHERE d1.d_...,102,date_dim,d,4777165936546303951770515401617716528552275365,1,1,0,0,0,1,7,7,0,0,-1,-1,-1,tpcds1,tpcds1
261,SELECT COUNT(*) from date_dim AS date_dim WHER...,103,date_dim,date_dim,498923181044240671889181593320004200305021095634,1,0,1,0,0,2,4,0,0,0,-1,-1,-1,tpcds1,tpcds1

In [891]:
tmp = opdf[opdf.exprhash == 209065536981977045761885247808823910077020259304]
tmp

Empty DataFrame
Columns: [op, dtype, optype, constant, input, column, opstring, alias, jobid, discrete_ops, cont_ops, like_ops, exprhash, workload, db]
Index: []

In [892]:
#exprdf.sort_values(by="unique_filter_cols", ascending=False).head(20)

In [893]:
exprdf[["unique_filter_cols", "num_likes"]].describe(percentiles=[0.9, 0.99])

       unique_filter_cols  num_likes
count           22.000000  22.000000
mean             2.181818   0.136364
std              1.531770   0.351250
min              1.000000   0.000000
50%              2.000000   0.000000
90%              3.900000   0.900000
99%              6.000000   1.000000
max              6.000000   1.000000

In [894]:
opdf.groupby("input")["column"].nunique().reset_index().sort_values(by="column", ascending=False).head(50)

      input  column
0         X      24
1  function       1
2         n       1

In [895]:
tmp = opdf[opdf.input == "posts"]
set(tmp["column"])

set()

In [624]:
tmp = exprdf[exprdf.unique_filter_cols == 3]
ehash = tmp["exprhash"].values[1]
tmp

IndexError: index 1 is out of bounds for axis 0 with size 0

In [419]:
tmp = opdf[opdf.exprhash == ehash]
tmp

,op,dtype,optype,constant,input,column,opstring,alias,qid,discrete_ops,cont_ops,like_ops,exprhash
476,=,num,=,3,date_dim,d_moy,=,date_dim,18,1,0,0,1449386839506961532079144159772542088486258583832
477,=,date,=,1999,date_dim,d_year,=,date_dim,18,1,0,0,1449386839506961532079144159772542088486258583832
478,between,cont,cont,-1,date_dim,d_month_seq,between,date_dim,18,0,0,0,1449386839506961532079144159772542088486258583832

In [413]:
def print_sql(sql):
    sql = sqlparse.format(sql, reindent=True, keyword_case='upper')
    sql = sql.replace("\n", "<br>")
    sql = sql.replace(" ", "&nbsp;")
    return sql

In [415]:
HTML(print_sql(sqls[93]))

In [186]:
#df = pd.concat(allpreds)

In [39]:
#df.to_csv("ceb_queries_df.csv", index=False)
#df.to_csv("tpcds_queries_df.csv", index=False)
#df.to_csv("stackexchange_queries_df.csv", index=False)

In [40]:
# df2 = pd.read_csv("job_queries_df.csv")
# df2.head(5)

In [312]:
HTML(opdf[["like_ops", "discrete_ops", "cont_ops"]].\
     describe(percentiles=[0.9,0.99]).reset_index().to_html(index=False))

In [190]:
df = opdf

In [193]:
discdf = df[df.discrete_ops == 1]
#discdf.groupby(["dkind"]).count()["discrete_ops"].reset_index().sort_values(by="discrete_ops")

In [194]:
discdf.groupby(["dtype"]).count()["discrete_ops"].reset_index().sort_values(by="discrete_ops", ascending=False)

    dtype  discrete_ops
1  string           833
0    date            23

In [196]:
ldf = df[df.like_ops == 1]
ldf.groupby("dtype").count()["discrete_ops"].reset_index().sort_values(by="discrete_ops", ascending=False)

     dtype  discrete_ops
4  unknown           122
0       -1            32
3    short            23
1      num            13
2   serial             4

In [203]:
#ldf.groupby("likekind").count()["discrete_ops"].reset_index().sort_values(by="discrete_ops", ascending=False)

In [200]:
#inpdata = pd.DataFrame(allinpdata)

In [201]:
# print(len(inpdata))
# inpdata = inpdata.drop_duplicates()
# inpdata = inpdata[inpdata["col"] != "function"]
# print(len(inpdata))
# print(len(set(inpdata["col"])))
# print(set(inpdata["col"]))

# unique values seen in each column

In [202]:
#inpdata.groupby("col").count().reset_index()["val"].describe(percentiles=[0.75,0.9,0.99])

In [81]:
# dff = df[df["col"] == "function"]
# dff

,left,table,col,op,val,qid,dtype,dkind,likedtype,likekind,discrete_ops,in_ops,cont_ops,like_ops
3,(\n\t\t\tselect count(B.Id) \n\t\t\tfrom Posts...,function,function,>,0,66,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,N,X,function,>=,1,67,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,ParentId,X,function,=,135169,68,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,Tags,X,function,like,'%google-cloud-functions%',71,-1,-1,serial,contains,0.0,0.0,0.0,1.0
0,PostTypeId,X,function,=,2,72,num,eq,-1,-1,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,(select sum(u3.Reputation) from Users u3 where...,function,function,>,1000,84765,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,PostHistoryTypeId,X,function,=,10,84766,num,eq,-1,-1,1.0,0.0,0.0,0.0
2,(up+down),function,function,>,0,84788,-1,-1,-1,-1,0.0,0.0,1.0,0.0
1,-2*down,function,function,<,0,84802,-1,-1,-1,-1,0.0,0.0,1.0,0.0
2,-2*down,function,function,>,0,84802,-1,-1,-1,-1,0.0,0.0,1.0,0.0

In [82]:
#pdf = pd.concat(allpreds)
pdf = df

In [83]:
pdf.head(5)

,left,table,col,op,val,qid,dtype,dkind,likedtype,likekind,discrete_ops,in_ops,cont_ops,like_ops
0,tcs.CusterStatus,tcs,CusterStatus,=,'Active',0,string,eq,-1,-1,1.0,0.0,0.0,0.0
0,posts.ViewCount,posts,ViewCount,>,10000,2,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,Posts.CreationDate,Posts,CreationDate,<,'2010-01-01',3,-1,-1,-1,-1,0.0,0.0,1.0,0.0
1,Posts.CreationDate,Posts,CreationDate,>,'2010-02-01',3,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,answer.PostTypeId,answer,PostTypeId,=,2,4,num,eq,-1,-1,1.0,0.0,0.0,0.0

In [84]:
#pdf = pdf[pdf.col.isin(COLS_TO_TABLES)]

# TODO: need equivalent version for SCOPE;
## TODO: more important is #columns per input in a query; for this we need column --> table mapping

In [85]:
# pdf.groupby(["col", "qid"])["op"].nunique().reset_index().sort_values(by="op", ascending=False)["op"].describe(
#                                     percentiles=[0.75,0.90,0.99])

count    76202.000000
mean         1.156964
std          0.421617
min          1.000000
50%          1.000000
75%          1.000000
90%          2.000000
99%          3.000000
max          6.000000
Name: op, dtype: float64

In [86]:
# for col in set(pdf["col"]):
#     if not col in COLS_TO_TABLES:
#         print(col)

nan

answer.Body
 reputation
m,CreationDate
DD,p.CreationDate
Users.LastAccessDate
ReviewTaskTypeId
m,q.creationdate
p.Id
owneruserid
description
c
AnswerCount
pp.Body
Rep
@anum
[Name]
dd,Question.CreationDate,Answer.CreationDate
ss,Users.CreationDate,Posts.CreationDate
ReviewResultType
[u].[Location]
V.CreationDate
P.Body
[Posttypeid]
q.Tags
Tags
[Status]
s,creationdate,closeddate
p.CommentCount
Monthindex
title
Answers.Body
q.Title
p.CreationDate,@latestDate
CommunityOwnedDate
b.Title
[Accepted]
b.Body
d,LastAccessDate
##TagName
p.Title
is_ms_shipped
Location
num
Users.DisplayName
[Order]
mi,p7.CreationDate,p6.CreationDate
VoteRevNo
Questions.CreationDate,Votes.CreationDate
phis.Comment
PostHistoryTypeId
us.DisplayName
v.CreationDate,p.CreationDate
yyyy,CreationDate
dd,users.CreationDate
index_id
dd,LastAccessDate
a.body
p.CreationDate,@EndDate
Posts.CreationDate,@latest
d,CreationDate
OwnerUserID
object_id
dd,CreationDate,LastPostedDate
CreationDate as char(10)
b.Date
MigrationHistory.CreationDate
u.location
CreationDate as Date
a.creationdate,q.creationdate
C.Body
u.RealName
parentid
PostHistory.Comment AS int
t
BountyAmount
@Tag,Tags
m,q.creationdate,a.creationdate
CreationDate AS DATE
q.creationDate,a.creationDate
P.AnswerCount
function
u.CreationDate,p.CreationDate
flagtypeid
u.creationDate,a.creationDate
DATEDIFF(DAY, ClosedDate, GETDATE()) as FLOAT
d,question.creationdate
CloseAsOffTopicReasonTypeId
tagid
Week
f.CreationDate,l.CreationDate
dd,CreationDate,LastAccessDate
f.Score
LastAccessDate,##Today
p.CreationDate
TagBased
userId
Answer.Body
mdelay
d,lastaccessdate
Id
parentUser.CreationDate,p.CreationDate
AuditTypeId
a.CreationDate
mi,q.CreationDate,a.creationDate
userid
relfreq
row
rnk
ContACnt
Questions.CreationDate
Weight
posttypeid
@UserId
ClosedDate
DisplayName
BestAnswerScore
low
tags
body
U.LastAccessDate
N
c.text
question.CreationDate
yyyy,ClosedDate
NumberOfPosts
lastaccessdate
dd,p.CreationDate
latestpost
pp.body
t.loc
Comments.Text
Questions.CreationDate,Questions.ClosedDate
p.CreationDate,parentPost.CreationDate
Viewcount
STags.TagName
Users.location
c.creationdate
u.EmailHash
v.CreationDate
score
RowID
t2.TagName
tagbased
Posts.CreationDate,PostNotices.DeletionDate
pp.Title
NumBadges
p2.creationdate,p.creationdate
[User Link]
Posts.Tags
d,v.CreationDate,a.CreationDate
[Title]
Question.CreationDate
upvotes
owneruserId
CreationDate,LastAccessDate
yyyy,q.CreationDate
creationdate,lastaccessdate
[Last Favorite]
Age
p.Tags
p.[CreationDate],p.[ClosedDate]
"AnswerCount"
viewcount
y,u.CreationDate
bountyamount
RN
[# Posts]
comment
Name
value
QuestionAskYear
question.CreationDate,answer.CreationDate
target.tagname
parentId
DD,Posts.CreationDate,Votes.CreationDate
QCreationDate,p.CreationDate
OwnerUSerId
posts.creationdate,votes.creationdate
ACreationDate
p.tags
U.WebSiteUrl,P.Body
q.ClosedDate,a.CreationDate
dt
ReviewTaskTypeID
pe.Body
ss,Question.CreationDate,Answer.CreationDate
itemId
p.lasteditdate
AcceptedAnswers
@ClosedQs
PostID
q.AcceptedAnswerId
Users.Age
@MinScore
Posts.CreationDate,Votes.CreationDate
PostId
voteTypeID
dwnVt
UserID
AA.Body
answercount
PostTypeid
p.creationDate
DeletionDate AS char
d,q.creationdate,a.creationdate
p.title
ReviewTaskStateId
p1.Body
"m",CreationDate
PeriodID
yr
DD,q.CreationDate,a.creationDate
CreationDate as DATE
Posts
location
c.[text]
weeknumber
postHistoryTypeID
atags.tagname
date
Nq
QTimeBounty2Answer
Posts.ClosedDate
v.CreationDate,@endDate
Reputation
WebsiteURL
dw
mnth
rn
##agemonthsmax
LAD
unk
Answercount
Users.CreationDate,Users.LastAccessDate
postid
ph.Comment AS int
Post_Count
Row
SuggestedEditId
AccountId
Tagname
prev_rate
TagN
m,post.CreationDate
w.Body
datediff(week, CreationDate, '2015-03-18')as float
ptq.name
creationdate
text
down
c.CreationDate
acceptedAnswerId
Nquestions
LastEditorUserId
U.WebsiteUrl
u.DisplayName
Votes
DownVotes
[location]
a.CreationDate,u.CreationDate
QuestionTime
Badges.name
DATEPART(YYYY, p.CreationDate) as varchar
CreationDate
Views
QCreationDate,ACreationDate
chktags
hh,pv.creationdate,v.creationdate
userdisplayname
TagId
yyyy,Users.LastAccessDate
ss,s_prev.CreationDate,sev.CreationDate
VoteTypeId
a.Location
u.CreationDate,u.LastAccessDate
ans
AnswerNum
TAGS
tagname
p.CreationDate,hc.CreationDate
VoteTypeName
Displayname
[Rank]
field
Reput
CusterStatus
Table_Name
commentCount
TotalScore
q.creationdate
OBJECT_ID
p.CreationDate,@endDate
p.CreationDate,p.ClosedDate
W.Body
ph.Comment as varchar(5)
OwnerUserid
DATEPART(YYYY, CreationDate) as varchar
tags.tagname
Score
p.LastEditDate
ownerUserID
parent_post.creationdate,posts.creationdate
acceptedanswerid
DATEPART(MM, CreationDate) as varchar
[Question Views per Day]
LastActivityDate
u.lastaccessdate
m,Post.CreationDate
id,name
CAST(DATEPART(YYYY, p.CreationDate) AS varchar) + '-'
            + CAST(DATEPART(MM, p.CreationDate) AS varchar) + '-01' AS DATETIME
pl.RelatedPostId
ReviewTaskStateID
EmailHash
u.LastAccessDate
postCount
posts.creationdate
GetUTCDate() - c.CreationDate as int
Tagid
order_id
a.CreationDate,b.CreationDate
p.ParentId,p.Id
TYPE
mi,q.CreationDate,a.CreationDate
AScore
Title
Posts.CreationDate,Ans.CreationDate
answers.creationdate
a.CreationDate,u.LastAccessDate
YYYY,p.CreationDate
TotalPosts
lasteditdate
ApprovedByUserId
u.Location
dd,creationDate
U.CreationDate
d,p.closeddate
creationdate as date
tags as varchar(150)
postTypeId
 PostTypeId
Q.CreationDate
d,Users.LastAccessDate
mm,creationdate
users.location
p.creationdate,p2.creationdate
##Text
reviewtasktypeid
C.Text
registered
dd,[DATE]
numdirectimages
[Day]
a.Body
d,post.CreationDate
CreationMonth
reply.Text
AboutMe
PostTypeID
selfAnswer.Body
isanonymous
pcnt
u.AboutMe
TargetTagName
[Month]
TextClean
Comments.CreationDate
q.creationdate,a.creationdate
"dd",U2.CreationDate,P3.CreationDate
AT.Body
type
t.TagName
Deletiondate
tagName
PQ.CreationDate,ps.CreationDate
favoritecount
questioner.CreationDate,questions.CreationDate
q.ClosedDate
 VoteTypeId
m,Posts.CreationDate
TimeUntilNextComment_s
Posts.CreationDate,Comments.CreationDate
Pe.Body
ID as varchar(100)
pc.body
posthistorytypeid
Date
TotalUserPosts
Closed
us.WebsiteUrl
PostHistoryTypeID
LastAccessDate
A.Body
Users.AboutMe
q.CreationDate,p.CreationDate
aboutme
record_status
[Count]
upVotes
pw.Body
ownerUserId
Users.Id
posts.Body
POstTypeId
[Resp Aceita]
q.AnswerCount
"location"
t1.TagName
CountRank
UserDisplayName
[PostTypeId]
pta.name
yyyy,creationdate
@tag,Tags
Type
p.answercount
[Content]
rnq
DeletionDate
Upvotes
q.Body
Pw.Body
user_answers
FlagTypeId
p.CreationDate,pf.CreationDate
d,q.CreationDate
posts.creationDate as date
DATEDIFF(year, LastAccessDate, GETDATE()) AS inT
insert_timestamp
[CreationDate]
a.NAME
seq
parent.CreationDate,p.CreationDate
NAME
two_days_variable
Ratio
id
Users.CreationDate
ans.Body
AcceptedAnswerId
ph.text
dd,CreationDate
cu.displayname
CREATIONDATE
OwnerUserId
Text
usr.LastAccessDate
Aboutme
LinkScore
Posts.CreationDate,Users.CreationDate
TagID
downvotes
l.Score
PostCount
DownRatio
Level
a.Comment
u.websiteurl,p.body
ReviewTaskResultTypeId
v.CreationDate AS Date
c.Text
parentUser.CreationDate
@OpenQs
AU.Body
YYYY,b.Date
RelatedPostId
C.text
dd
LOCATION
database_id
is_primary_key
BadRec
displayname
Length
tagcount
CloseReasonTypeId
P.CREATIONDATE
LastEditorUserID
u.Email
[Reputation]
p.[Tags]
CommentCount
a.creationdate
ss,s_prev.creationdate,sev.creationdate
m
Users.Reputation
PostHistory.CreationDate
ID
dd,u.CreationDate
relationship
Answers.CreationDate
ViewCount
d,creationdate
p.CreationDate,@StartDate
qty
h.Comment
Record
BODY
[Text]
ParentId
TITLE
d,vob.CreationDate
RejectionCount
ph.creationdate
scoreSum
questions.creationdate
src.[end]
mm,CreationDate
Rank
Votes.CreationDate
Posts1.BODY
d,p.CreationDate
accountid
Monthli
numimages
Count
p.LastActivityDate
y,creationDate
p.Body
Post.Body
RowNo
[Comment]
JSON_VALUE(Text, '$.Voters[0].Id') AS inT
Value
u.CreationDate
q.tags
pq.CreationDate,pa.CreationDate
DD,CreationDate
lastactivitydate
m,u.CreationDate
p.body
NumberOfMerges
activedays
POSTTYPEID
[Total]
AutoRenameCount
votetypeid
Class
s,Votes.CreationDate,LastCloseDeleteRaw3.CreationDate
[Order Received]
dd,creationdate
OwnerDisplayName
Question
MaxScore
votes.creationdate
FavoriteCount
Posts.Title
answerScore
VoteTypeID
class
TagName
P.CreationDate
us.Location
YYYY,Posts.CreationDate
ExcerptPostId
answerCount
ph.Text
creationDate
p.creationdate
[text]
ph.UserId
"Percent"
Questions
dd,Posts.CreationDate,Votes.CreationDate
questionScore
SlsinvDate
DATEPART(MM, p.CreationDate) as varchar
post.creationdate
qcount
Question.Tags
WebsiteUrl
yy,CreationDate
Users.Location
Votetypeid
AVar
hh,u.CreationDate
SourceTagName
C.CreationDate
U.Location
P.Title
commentcount
v.creationdate
r
posts.title
Tags.TagName
u3.LastAccessDate,u1.LastAccessDate
dbName
p.AnswerCount
Posts.CreationDate
posts.CreationDate,datadumptime
emails
B.Date
bin
[Score]
Bountyamount
Total
[status]
dd,posts.creationdate
Questions.CreationDate,FirstAnswerDates.FirstAnswerDate
age
q.CreationDate,a.CreationDate
AAvg
Comment
p.ClosedDate
IsAnonymous
LastEditDate
[Body]
FirstDate
scoreDif
ZeroScore
questions.CreationDate,answers.CreationDate
d,v.CreationDate
users_tot
PosttypeId
wiki.Body
@Language,Q.Tags
Posts.Body
Upvote_Count
posts.tags
tagId
[PostHistoryTypeId]
b.Name
number
 PostHistoryTypeId
count
p1.tags
numVoters
Num
linktypeid
YYYY,CreationDate
sitedbname
UserId
cast(DATEPART(YYYY, CreationDate) as varchar) + '-' + cast(DATEPART(MM, CreationDate) as varchar) + '-01'
    as datetime
q.CreationDate
originalPosts.tags
MarkdownMini
"dd",LastAccessDate
qstRow
e.Body
mi,p4.CreationDate,p3.CreationDate
u.WebsiteUrl
Status
d,p.CreationDate,V.CreationDate
[Users].[Location]
u.Birthday
q.Score
CreationDate,@DataDumpDate
closeddate
Downvotes
Body
lasteditoruserid
Badges.Name
displayName
UpVotes
viewCount
dw,p.dt
userID
ProfileImageUrl
p.BODY
b.name
Posttypeid
websiteurl
reputation
PostTypeId
votecount
users.Location
p.CreationDate,v.CreationDate
postHistorytypeid
"yyyy",CreationDate
LinkTypeId
ClassId
name
P1.TAGS
d,PostsWithDeleted.CreationDate,Votes.CreationDate
Votes.CreationDate,@lastDate
@str
t.tagname
postTypeID
@StartTime,CreationDate
ParentID
yyyy,Posts.CreationDate
askedyr

In [87]:
# pdf2 = pdf[pdf.table != "X"]
# print(set(pdf2["table"]))
# print(len(set(pdf2["table"])))

{nan, 'vup', 'uc', 'pAll', 'csh', 'c', 'Results', 'mdi', 'subqAllAnswers', 'Ups', 'o1', 'qtn', 'CSH', 'me', 'v', 'A2', 'Tags', 'AnswerPosts', 'counts', 'TagCount', 'hp', 'TotalAnswers', '[#CustomerStatusHistory]', 'A', 'uu', 'num', 'PostHistory', '[ph]', 'postsq', 'ya', 'v2', 'AT', 'AcceptedAnswer', 'pall', 'e', 'ph0', 'u3', 'p1', 'qc', 'PostsA', 'tag1', 'pg', 'answer', 'a2', 'temp', 't', 'W', 'pa2', 'se', 'QUESTIONS', 'CloseSide', 'function', 'queries', 'f', 'wdv', 'uv', 'Bins', 'qbt', 'wk', 'accepted', 'actor', 'yourAnswer', 'AcceptVote', 'ht', 'y', 'ReviewTaskTypes', 'Y', 'naa', 'pt', 'bt', 'PA', 'k', 'answ', '[p]', 'tags', 'N', 'reply', 'fu', 'USERS', 'DS', 's1', 'vt', 'ContQ', 'Del', 'UserQuestions', 'Pht', 'hello', 'PF', 'ptypes', 'pans', 'prev', 'PythonBadges', 'votetypes', 'su', 'ReopenSide', 'ANSWERS', 'V', 'B', 'allTheTags', 'pc', 'Pt', 'comment', 'tagsY', 'pm', 'data0', 'this', 'v0', 'tagsX', 'status_tag', 'rollbacks', 'E', 'p_a', 'Raw', 'AcceptedAnswers', 'i2', '[se]', 'btyStart', 'posts', 'acceptedanswers', 'TTT', 'pd', 'Users', 'BNi', 'tag2', '[A]', 'BoxedUser', 'aw', 'ph2', 'Posts', 'UndelHist', 'qh', 'COTRT', 'p2', 'AU', 'main', 'P2', 'BGr', 'PH', 'revTask', 'ptypes1', 'Comments', 'OpComments', 'phb', 'MyAnswers', 'vote3', 'edits', 'votes', 'edited', 'pa1', 'recent', 'ps', 'gVt', 'vs', 'T', 'prev_rate', 'AStats', 'PTT', 'totals', 'Col', 'pr', 'MovedToChat', 'down', 'Ph', 'rate', 'Myvotes', 'psts', 'o', 'ph1', 'myfavs', 'tt', 'Votes', 'bounty_end', 'ts', 'SOS', 'pho', 'posthistory', 'ppd', 'B2', 'ns', 'r1', 'ptype', 'APost', 'bd', 't_lang', 'dv', 'Wiki', 'AllPosts', 'ans', 'tmp', 'phis', 'closedanswers', 'U1', 'p4', 'ptssh', 'Ans', 'AP', 'question', 'vc', 'qu', 'PostHistoryTypes', 'AllHoldersBadges', 'l', 'Tag', 'Tot', 'VoteTypes', 'ianswers', 'P3', 'u1', 'subq', 'ptypes2', 'SuggestedEdits', 'agusers', 'ty2', 'postTags', 'aa', 'R', '"p"', 'answerVote', 'phc', 'betweenX', '[pt]', 'I', 'vote', 'pt2', 'hc', 'ph3', 'TagSynonyms', 'Aother', 'crt', 'PS', 'PostTypes', 'Parent', 'OuterUsers', 'closed', 'P', 'pl', 'pty', 'Qestions', 'qt', 'wiki', 'p3', 'Badges', 'posttags', 'g', 'orig', 'at', 'PendingFlags', 'dadn', 'type', 'ptypes3', 'Problems', 'userQ', 'allA', 'custHist', 'PostNoticeTypes', 'upr', 'pbt', 'reanswers', 'Excerpt', 'PPP', 'OtherVotes', 'dq', 'questionsY', 'perg', 'userA', 'qs', 'history', 'iv', 'n1', 'ss', 'ages', 'TagTotals', 'que', 'jonsAnswer', 'other', 'M', 'p_questions', 'voteTypes', 'p', 'ReviewTasks', 'data2', 'User1Answers', 'CloseHistory', 'opened', 'US', 'au', 'pf', 'APosts', 'SiteB', 'asbut', 'PL', 'SEV', 'L', 'h', 'ind', 'users', 'p5', 'btyEnd', 'sv', 'pwd', 'vcb', 'CurrentAmountsByMonth', 'Upvotes', 'pq', 'vob', 'n', 'O', 'sev', 'tg', 'DelHist', 'py', 'vv2', 'tags2', 'QStats', 'original', 'pv', 'userPosts', 'Foo', 'w', 'ta', 'DownRatio', 'BrokenLink', 'SuggestedEditVotes', 'pb', 'rt', 'T1', 'c2', 'pp', 'base', 'Down', 'd', 'ftm', 'Up', 'OtherLink', 'ba', 'Undel', 'fqt', 'tcs', 'dbo', 'sq', 'm', 'v4', 'tuser', 'questions', 'Raw3', 'acp', 'answerer', 'pht', 't2', 'tags1', 'ex', 'phtwo', 't1', 'POSTS', 'Vba', 'Pf', 'pl2', 'SPS', 'selfAnswer', 'vo', 'p_wiki', 'Answerers', 'ph', 'a', 'aPosts', 'myA', 'PostLinks', 'sql', 'Problem', 'dbs', 'tb', 'cs', 'pt1', 'RubyBadges', 'b', 'H', 'UserTopTagScore', 'ah', 'director', 'excerpt', 'pw', 't_dbname', 'Cxr', 'pExcerpt', 'Usr', 'Question', 'UsersData', 'pendingflags', 'S', 'vdt', 'PT', 'v_close', 'up', 'answerCount', 'uds', 'ua', 'PostTags', 'stats', 'Questions', 'QuestionPost', 'badges', 'Q', 'v1', 'UnluckyAnswer', 'tag', 't3', 'BGo', 'Excerpts', 'YourAnswer', 'requestions', 'iquestions', 'USers', 'r', 's', 'voters', 'i', 'b1', 'u', 'p_excerpt', 'pQ', 'FirstQuestions', 'dl', 'U2', 'answers', 'rtr', 'Comment', 'MyP', 'Pty', 'u2', 'qPosts', 'UserTagScore', 'pn', 'Posts1', 'pa', 'childPost', 'tagScores', 'PenalizedUser', 'UserQuestionCount', 'PostsWithDeleted', 'v_open', 'TagBadges', 'Post', 'pP', 'p2v', 'myAnswer', 'SiteA', 'Answers', 'data1', 'pnt', 'comments', 'Vote3', 'n2', 'rf', 'User2Answers', 'AA', 'PostHIstory', 'YA', 'VT', 'resp', 'ma', 'Vt', 'PHT', 'q', 'questao', 'Pergunta', 'ShortLinkAnswers', 'Tg', 'questionsX', 'MigrationHistory', 'vv1', 'ty', 'u4', 'U', 'x', 'PostsQ', 'Downvotes', 'parent', 'ianswerer', 'p6', 'posttypes', '[u]', 'PostFeedback', 'us', 'po', 'ap', 'SV', 'post', 'Answer', 'C', 'UnDel', 'P1', 'RT', 'A1', 'apt', 'QT'}
495

In [88]:
# pdf2.groupby(["table", "qid"])["col"].nunique().reset_index().sort_values(by="col", ascending=False)["col"].describe(
#                                     percentiles=[0.75,0.90,0.99])

count    48325.000000
mean         1.207926
std          0.509182
min          1.000000
50%          1.000000
75%          1.000000
90%          2.000000
99%          3.000000
max          8.000000
Name: col, dtype: float64

In [89]:
# pd.set_option('display.max_rows', 500)
# pdf2.head(100)

,left,table,col,op,val,qid,dtype,dkind,likedtype,likekind,discrete_ops,in_ops,cont_ops,like_ops
0,tcs.CusterStatus,tcs,CusterStatus,=,'Active',0,string,eq,-1,-1,1.0,0.0,0.0,0.0
0,posts.ViewCount,posts,ViewCount,>,10000,2,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,Posts.CreationDate,Posts,CreationDate,<,'2010-01-01',3,-1,-1,-1,-1,0.0,0.0,1.0,0.0
1,Posts.CreationDate,Posts,CreationDate,>,'2010-02-01',3,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,answer.PostTypeId,answer,PostTypeId,=,2,4,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,question.Score,question,Score,<,25,4,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,Votes.VoteTypeId,Votes,VoteTypeId,=,9,6,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,Tags.TagName,Tags,TagName,=,'##Tag##',7,string,eq,-1,-1,1.0,0.0,0.0,0.0
4,A.CreationDate,A,OwnerUserId,>,'2016-01-01',7,num,in,-1,-1,1.0,1.0,0.0,0.0
5,A.OwnerUserId,NaN,NaN,in,"(\n 209103, -- puf\n 394010, -- katowulf...",7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,iquestions.posttypeid,iquestions,posttypeid,=,1,10,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,ianswers.posttypeid,ianswers,posttypeid,=,2,10,num,eq,-1,-1,1.0,0.0,0.0,0.0
2,answerer.reputation,answerer,reputation,between,-1,10,-1,-1,-1,-1,0.0,0.0,1.0,0.0
3,requestions.posttypeid,requestions,posttypeid,=,1,10,num,eq,-1,-1,1.0,0.0,0.0,0.0
4,reanswers.posttypeid,reanswers,posttypeid,=,2,10,num,eq,-1,-1,1.0,0.0,0.0,0.0
8,reanswers.owneruserid,NaN,NaN,in,"( \nselect answerer.id from\n tags invented, ...",10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,and,NaN,NaN,between,-1,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,LOWER(Location),function,,like,'%india%',11,-1,-1,unknown,contains,0.0,0.0,0.0,1.0
1,UPPER(Location),function,,like,'%SG',11,-1,-1,short,ends,0.0,0.0,0.0,1.0
0,t.TagName,t,TagName,=,'python',15,string,eq,-1,-1,1.0,0.0,0.0,0.0
1,ty.Name,ty,Name,=,'Question',15,string,eq,-1,-1,1.0,0.0,0.0,0.0
2,GETDATE(),function,,<,"DateAdd(day, 7, p.CreationDate)",15,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,posts.postTypeId,posts,postTypeId,=,1,18,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,posts.tags,posts,tags,=,'[magic-the-gathering]',18,string,eq,-1,-1,1.0,0.0,0.0,0.0
0,Posts.Id,Posts,Id,=,537597,20,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,Posts.AnswerCount,Posts,AnswerCount,between,-1,22,-1,-1,-1,-1,0.0,0.0,1.0,0.0
1,Posts.AcceptedAnswerId,Posts,AcceptedAnswerId,>,0,22,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,Posts.PostTypeId,Posts,PostTypeId,=,1,31,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,Tags.Tagname,Tags,Tagname,=,'bazel',31,string,eq,-1,-1,1.0,0.0,0.0,0.0
2,Tags.Tagname,Tags,Tagname,!=,'tensorflow',31,string,neq,-1,-1,1.0,0.0,0.0,0.0
6,Posts.AnswerCount,NaN,NaN,=,0,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Badges.Name,Badges,Name,=,'Legendary',33,string,eq,-1,-1,1.0,0.0,0.0,0.0
0,p.PostTypeId,p,PostTypeId,=,2,36,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,a.postTypeId,a,postTypeId,=,2,39,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,a.CreationDate,a,CreationDate,<=,"DATEADD(day, -10, GETDATE())",39,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,Tags.TagName,Tags,TagName,=,'websphere-liberty',40,string,eq,-1,-1,1.0,0.0,0.0,0.0
1,Posts.CreationDate,Posts,CreationDate,between,-1,40,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,P.Tags,P,Tags,like,'%##TagName##%',41,-1,-1,unknown,contains,0.0,0.0,0.0,1.0
1,P.CreationDate,P,CreationDate,<,"DateAdd(day, 30, @FromDate)",41,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,u.Id,u,Id,in,(\n select Id\n from Users \n where L...,45,sql,in,-1,-1,1.0,1.0,0.0,0.0
1,pp.Tags,pp,Tags,like,('%<scala>%'),45,-1,-1,unknown,contains,0.0,0.0,0.0,1.0
0,b.name,b,name,=,'java',46,string,eq,-1,-1,1.0,0.0,0.0,0.0
1,u.Location,u,Location,like,'%United Kingdom%',46,-1,-1,-1,contains,0.0,0.0,0.0,1.0
0,Questions.CreationDate,Questions,CreationDate,>,"convert(datetime, '01/01/2012', 101)",48,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,Q.CreationDate,Q,CreationDate,>,"DateAdd(m, -1, GETDATE())",52,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,p.CreationDate,p,CreationDate,>,'2020-01-01',53,-1,-1,-1,-1,0.0,0.0,1.0,0.0
1,p.Score,p,Score,>,0,53,-1,-1,-1,-1,0.0,0.0,1.0,0.0
2,p.Title,p,Title,like,'%Naruto%',53,-1,-1,unknown,contains,0.0,0.0,0.0,1.0
0,a.PostTypeId,a,PostTypeId,=,2,56,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,a.Score,a,Score,>=,1,56,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,a.postTypeId,a,postTypeId,=,2,59,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,a.CreationDate,a,CreationDate,<=,"DATEADD(day, 0, GETDATE())",59,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,a.PostTypeId,a,PostTypeId,=,2,62,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,a.postTypeId,a,postTypeId,=,2,64,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,a.CreationDate,a,CreationDate,<=,"DATEADD(day, -10, GETDATE())",64,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,q.PostTypeId,q,PostTypeId,=,1,65,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,q.ViewCount,q,ViewCount,>,100,65,-1,-1,-1,-1,0.0,0.0,1.0,0.0
2,c.Text,c,Text,like,'%thanks%',65,-1,-1,unknown,contains,0.0,0.0,0.0,1.0
3,LEN(c.Text),function,c.Text,>=,150,65,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,C.Score,C,Score,>,0,66,-1,-1,-1,-1,0.0,0.0,1.0,0.0
3,(\n\t\t\tselect count(B.Id) \n\t\t\tfrom Posts...,function,function,>,0,66,-1,-1,-1,-1,0.0,0.0,1.0,0.0
5,(\n\t\t\tselect count(C.Id)\n\t\t\tfrom Posts ...,NaN,NaN,=,0,66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,LOWER(Location),function,,like,LOWER('bangalore'),73,-1,-1,unknown,no%,0.0,0.0,0.0,1.0
0,Len(Body),function,,=,42,77,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,p.Id,p,Id,=,12508585,78,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,Posts.PostTypeId,Posts,PostTypeId,=,1,80,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,Posts.CreationDate,Posts,CreationDate,>,'2015-01-01',80,-1,-1,-1,-1,0.0,0.0,1.0,0.0
2,Posts.Score,Posts,Score,>,30,80,-1,-1,-1,-1,0.0,0.0,1.0,0.0
3,Tags.TagName,Tags,TagName,=,'azure',80,string,eq,-1,-1,1.0,0.0,0.0,0.0
0,Len(Title),function,Title,<,32,82,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,a.Name,a,Name,=,'Question',83,string,eq,-1,-1,1.0,0.0,0.0,0.0
0,post.Id,post,Id,=,2140,84,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,y.type,y,type,=,'P',85,string,eq,-1,-1,1.0,0.0,0.0,0.0
1,y.number,y,number,>=,2006,85,-1,-1,-1,-1,0.0,0.0,1.0,0.0
2,m.type,m,type,=,'P',85,string,eq,-1,-1,1.0,0.0,0.0,0.0
3,m.number,m,number,>=,1,85,-1,-1,-1,-1,0.0,0.0,1.0,0.0
4,m.number,m,number,<=,12,85,-1,-1,-1,-1,0.0,0.0,1.0,0.0
5,t.tagname,t,tagname,in,"( 'sql-server', 'oracle', 'mysql', 'postgresql...",85,string,in,-1,-1,1.0,1.0,0.0,0.0
0,"coalesce(len(pe.Body),0)",function,,=,0,88,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,A.Score,A,Score,>=,1,90,-1,-1,-1,-1,0.0,0.0,1.0,0.0
1,A.PostTypeId,A,PostTypeId,=,2,90,num,eq,-1,-1,1.0,0.0,0.0,0.0
2,C.Text,C,Text,like,'%more information%',90,-1,-1,-1,contains,0.0,0.0,0.0,1.0
3,C.Text,C,Text,like,'%an you%',90,-1,-1,-1,contains,0.0,0.0,0.0,1.0
4,P.PostTypeId,P,PostTypeId,=,1,90,num,eq,-1,-1,1.0,0.0,0.0,0.0
7,P.Id,NaN,NaN,not in,(\n SELECT A.ParentID FROM Posts AS A\n ...,90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Pergunta.PostTypeId,Pergunta,PostTypeId,=,1,92,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,v.VoteTypeId,v,VoteTypeId,=,2,93,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,PostHistory.UserId,PostHistory,UserId,in,"(209103, 4625829, 5637321, 5996134)",96,num,in,-1,-1,1.0,1.0,0.0,0.0
1,PostHistory.CreationDate,PostHistory,CreationDate,>,'2016-01-01',96,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,LOWER(Name),function,Name,in,('java'),99,string,in,-1,-1,1.0,1.0,0.0,0.0
2,PostTypes.Name,PostTypes,Name,=,'Question',99,string,eq,-1,-1,1.0,0.0,0.0,0.0
3,PostTypes.Name,PostTypes,Name,=,'Answer',99,string,eq,-1,-1,1.0,0.0,0.0,0.0
4,LOWER(Location),function,,like,'%london%',99,-1,-1,unknown,contains,0.0,0.0,0.0,1.0
1,U.Id,U,Id,=,2009616,102,num,eq,-1,-1,1.0,0.0,0.0,0.0
0,p.PostTypeId,p,PostTypeId,=,1,106,num,eq,-1,-1,1.0,0.0,0.0,0.0
1,p.Score,p,Score,<,1,106,-1,-1,-1,-1,0.0,0.0,1.0,0.0
2,p.AnswerCount,p,AnswerCount,=,0,106,num,eq,-1,-1,1.0,0.0,0.0,0.0
3,U.LastAccessDate,U,LastAccessDate,<,"DATEADD(month, -24, GETDATE())",106,-1,-1,-1,-1,0.0,0.0,1.0,0.0
0,Answers.Score,Answers,Score,>,0,109,-1,-1,-1,-1,0.0,0.0,1.0,0.0
1,Posts.Score,Posts,Score,>,0,109,-1,-1,-1,-1,0.0,0.0,1.0,0.0

In [90]:
# pdf2.groupby(["table", "qid"])["col"].nunique().reset_index().sort_values(by="col", ascending=False)

            table    qid  col
23073    function  30456    8
40790           q  57705    6
40198           q  32748    6
41359           q  81875    6
39920           q  21505    6
...           ...    ...  ...
18007           d  25890    1
18008           d  26714    1
18009           d  30783    1
18011           d  39438    1
48324  yourAnswer  76498    1

[48325 rows x 3 columns]

# TODO:

#### More columns being filtered (tails) on BUT within a column ---- fewer categorical values being hit
#### discrete_type: num vs string
#### cont dtypes: range vs leq vs geq

In [91]:
# pdf.groupby("op").count()["qid"]

op
!=            568
<            7646
<=           2780
<>           1214
=           93323
>           14509
>=           6438
between      1218
in           9267
like        41662
not in        517
not like     4972
Name: qid, dtype: int64